/** @define ProductsBreadCrumbs */

.ProductsBreadCrumbs {
  display: none;
  padding: 0;
  margin-left: 10px;
  z-index: 1;
  position: relative;
  &-item {
    list-style: none;
    display: inline-block;
    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      padding: 0 5px;
    }
  }
}

@media $min-tablet {
  .ProductsBreadCrumbs {
    display: block;
  }
}
