/** @define ReturnHistoryDetailsSummary **/
.ReturnHistoryDetailsSummary {

  &-container {
    border-bottom: 1px solid $myaccount-border-color;
    border-top: 1px solid $myaccount-border-color;
    display: flex;
    justify-content: space-between;
    padding: 10px $page-padding;
  }

  &-value {
    text-align: right;
  }

  &-price {
    font-weight: bold;
    margin: $page-padding 0 0 0;
  }

}

@media $min-tablet {

  .ReturnHistoryDetailsSummary {
    display: flex;
    justify-content: flex-end;

    &-container {
      border: none;
      padding: 0 15px 0 15px;
      width: 40%;
    }

  }

}
