/** @define ReturnHistoryList **/

.ReturnHistoryList {
  &-orderLimitMessage {
    border-bottom: 1px solid $myaccount-border-color;
    font-size: $font-size-validation-message;
    padding: 10px $page-padding;
    margin: 0;
  }
}

@media $min-tablet {
  .ReturnHistoryList {
    &-orderLimitMessage {
       border-bottom: none
     }
  }
}
