/** @define NewsLetter */

.NewsLetter {
  background: #313132;
  color: #ffffff;
  text-align: center;
  padding: 15px 10px;
  border-top: 2px solid white;
  position: relative;

  &-subtitle {
    color: #ffffff;
  }

  &-form {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    letter-spacing: 0.085em;
  }

  &-label, &-submit {
    flex: 1 1 auto;
    color: #ffffff;
    padding: 10px 0;
  }

  &-submit {
    text-transform: uppercase;
  }

  &-input {
    background: transparent;
    color: #ffffff;
    padding: 10px;
    border-radius: 0;
    border: none;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    flex: 0 1 60%;
  }

  &-error {
    color: #E45A59;
  }

  &-tnx {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
  }
}
