/** @define AddressBookList */

.AddressBookList {
  border-top: 1px solid #F8F8F8;
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    align-items: stretch;
    border-bottom: 1px solid #F8F8F8;
    display: flex;
    justify-content: space-between;
  }

  &-itemDetails {
    flex-grow: 2;
  }

  &-itemDetailsName {
    font-weight: normal;
    margin: 0 0 5px 0;
  }

  &-itemDetailsAddress {
    margin: 0;
  }

  &-itemActions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  &-itemAction {
    display: block;
    margin: 10px 0 5px 0;
  }
}

