/** @define BundlesSizes */
@lost flexbox flex;

.BundlesSizes {
  display: flex;
  flex-direction: column;
  position: relative;

  &-size {
    margin: 0 0 20px;
  }

  &-error {
    font-size: 0.85em;
    color: $error-color;
  }
}

@media $min-tablet {
  .BundlesSizes {
    &-size {
      margin-bottom: 10px;
    }
    &-error {
      margin-top: 0;
    }
  }
}