/** @define OrderProductNotification */

.OrderProductNotification {
  width: 100%;
  &-content {
    display: flex;
  }
  &-icon {
    background-image: $icon-info;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    align-self: center;
    &--hasError {
      background-image: $icon-info-error;
    }
  }
  &-message {
    padding-left: 5px;
    &--hasError {
      color: $error-color;
    }
  }
}
