#lfw16 {
  & .Showspace {
    position: relative;
    background-color: $cl-sand;

    &-image {
      overflow: hidden;
    }

    &-mapbackimage {
      position: relative;
      display: block;
      left: -18%;
      width: 131%;
    }

    &-mapimage0 {
      position: absolute;
      top: 0.2%;
      left: 17.5%;
      width: 70%;

      &.is-hidden {
        display: none;
      }
    }
    &-mapimage1 {
      position: absolute;
      left: 43.1%;
      top: 1.7%;
      width: 48.7%;

      &.is-hidden {
        display: none;
      }
    }
    &-mapimage2 {
      position: absolute;
      width: 79.8%;
      top: 12.3%;
      left: 11.9%;

      &.is-hidden {
        display: none;
      }
    }
    &-mapimage3 {
      position: absolute;
      width: 58.5%;
      top: 50%;
      left: 19.8%;
      &.is-hidden {
        display: none;
      }
    }
    &-pinimage0 {
      position: absolute;
      left: 32%;
      top: 18%;
      width: 7%;
      z-index: 10;
      &.small {
        top: 20%;
        width: 5%;
      }
    }
    &-pinimage1 {
      position: absolute;
      left: 64%;
      top: 2%;
      width: 7%;
      z-index: 10;
      &.small {
        top: 4%;
        width: 5%;
      }
    }
    &-pinimage2 {
      position: absolute;
      left: 77%;
      top: 20%;
      width: 7%;
      z-index: 10;
      &.small {
        top: 23%;
        width: 5%;
      }
    }
    &-pinimage3 {
      position: absolute;
      left: 47%;
      top: 56%;
      width: 7%;
      z-index: 10;
      &.small {
        top: 58%;
        width: 5%;
      }
    }
  }

  & .Slidershowspace {
    padding-bottom: 25px;
    position: relative;
    background-color: $cl-sand;
    &-wrapper {
      position: relative;
      width: 50%;
      border: 1px solid #A6A19C;
      border-radius: 5px;
      background-color: white;
      margin: auto;
      width: calc(100% - 80px);
      padding: 20px;
    }
    &-title {
      margin: 0;
    }
    &-paragraph {
      margin: 0;
    }
    &-arrowimage {
       position: absolute;
       width: 10%;
       max-width: 35px;
       left: 88%;
       bottom: 0;
    }
    &-slider {
      &.is-hidden {
        display: none;
      }
    }
  }

}
