/** @define Showspace */

$cl-sand: #D9D2CA;
$cl-ex-dk-gray: #232323;
$cl-white: #FFF;

#lfw16 {
  & .Interactivemap {
    padding-bottom: 5px;
  }

  & .Showspace {
    position: relative;
    background-color: $cl-sand;
    overflow: hidden;

    &-image {
      margin-top: 3.2%;
    }

    &-mapbackimage {
      position: relative;
      display: block;
      left: -18%;
      width: 131%;
    }

    &-mapimage0 {
      position: absolute;
      top: 4.4%;
      left: 17.5%;
      width: 70%;

      &.is-hidden {
        display: none;
      }
    }
    &-mapimage1 {
      position: absolute;
      left: 43.1%;
      top: 5.7%;
      width: 48.7%;

      &.is-hidden {
        display: none;
      }
    }
    &-mapimage2 {
      position: absolute;
      width: 131%;
      top: 4%;
      left: -18%;

      &.is-hidden {
        display: none;
      }
    }
    &-mapimage3 {
      position: absolute;
      width: 58.5%;
      top: 50%;
      left: 19.8%;
      &.is-hidden {
        display: none;
      }
    }
    &-pinimage0 {
      position: absolute;
      left: 32%;
      top: 16%;
      width: 10%;
      z-index: 10;
      &.small {
        top: 22%;
        width: 7%;
      }
    }
    &-pinimage1 {
      position: absolute;
      left: 64%;
      top: 1%;
      width: 10%;
      z-index: 10;
      &.small {
        top: 6%;
        width: 7%;
      }
    }
    &-pinimage2 {
      position: absolute;
      left: 77%;
      top: 19%;
      width: 10%;
      z-index: 10;
      &.small {
        top: 23%;
        width: 7%;
      }
    }
    &-pinimage3 {
      position: absolute;
      left: 47%;
      top: 52%;
      width: 10%;
      z-index: 10;
      &.small {
        top: 58%;
        width: 7%;
      }
    }
  }

  & .Slidershowspace {
    position: relative;
    background-color: $cl-sand;
    &-wrapper {
      position: relative;
      top: -50px;
      width: 50%;
      border: 1px solid #A6A19C;
      border-radius: 5px;
      background-color: white;
      margin: auto;
      width: calc(100% - 60px);
      padding: 20px;
    }
    &-arrow {
      background: white;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      bottom: -25px;
      right: 20px;
      position: absolute;
    }
    &-title {
      margin: 0;
      padding-bottom: 8px;
    }
    &-paragraph {
      margin: 0;
    }
    &-button {
      display: block;
      width: 100%;
      padding: 5px 0;
      margin: 10px 0 -5px;
      text-align: center;
      text-transform: uppercase;
      touch-action: manipulation;
      text-decoration: none;
      line-height: 1.9em;
      font-size: 1.125em;
      font-family: Platform, sans-serif;
      letter-spacing: 0.085em;
      background-color: $cl-ex-dk-gray;
      color: $cl-white;
    }
    &-arrowimage {
    }
    &-slider {
      &.is-hidden {
        display: none;
      }
    }
    &-sliderImage {
      margin-top: 20px;
      width: 100%;
    }
  }

}
