/** @define PaymentDetails */

.PaymentDetails {
  border: none; /* reset fieldset border */
  padding: 0 0;

  &-method {
    padding: $checkout-content-padding 0;
    border-top: 1px solid $checkout-divider-color;

    &:last-child {
       border-bottom: 1px solid $checkout-divider-color;
    }
  }

  &-logInNotice {
    margin-bottom: 0;
  }

  &-preview {
    margin: 5px 0 0;

    &:first-of-type {
      margin: 0;
    }
  }

  &-wrapper {
    padding-bottom: $checkout-separator-height;
  }

  &-addressPreview {
    padding-top: $checkout-content-padding;
  }
}
