/* postcss-bem-linter: ignore */
body {
  margin: 0;
  background-color: $body-background-color;
  -webkit-text-size-adjust: 100%;
}

/* postcss-bem-linter: ignore */
body.not-scrollable {
  overflow: hidden;
}

/* postcss-bem-linter: ignore */
*:active {
  outline: none;
}

/* postcss-bem-linter: ignore */
dl {
 padding: 0;
 margin: 0;
}

/* postcss-bem-linter: ignore */
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 100%;
  font-family: inherit;
  letter-spacing: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: $line-height-button;
}

/* postcss-bem-linter: ignore */
.screen-reader-text {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  left: -1000px;
}

/* postcss-bem-linter: ignore */
.hidden {
  display: none;
}

/* CMS property to add page margins to an element */
/* postcss-bem-linter: ignore */
.cms-addPageMargin {
  margin: 0 $page-padding;
}

/* Temporarily disable focus on all anchors and form fields */
/* postcss-bem-linter: ignore */
*:focus {
  outline: none !important;
}

@media $min-laptop {
  /* postcss-bem-linter: ignore */
  .left-col-margin {
    margin-right: $left-col-margin
  }
  /* postcss-bem-linter: ignore */
  .right-col-margin {
    margin-left: $right-col-margin
  }
}
