/** @define ProductAttributeBanner */

.ProductAttributeBanner {
  position: $plp-product-attribute-banner-position;
  bottom: $plp-product-attribute-banner-bottom;
  width: $plp-product-attribute-banner-width;
  left: $plp-product-attribute-banner-left-property; /* In IE11 absolutely positioned elements don't respect layout models and can only be positioned horizontally via translateX or left prop */
}

@media $mobile {
  .ProductAttributeBanner {
    position: $plp-product-attribute-banner-position;
    bottom: $plp-product-attribute-banner-bottom;
    width: $plp-product-attribute-banner-mobile-width;
    left: $plp-product-attribute-banner-mobile-left-property; /* In IE11 absolutely positioned elements don't respect layout models and can only be positioned horizontally via translateX or left prop */
  }
}
