/** @define FindAddress */

.FindAddress {
  border: 0;
  &-link {
    color: $black;
    text-decoration: underline;
    font-size: 14px;
    text-align: right;
    display: block;
  }

  &-form {
    &.is-hidden {
      display: none;
    }
  }

  &-selectAddress {
    margin-top: 15px;
    &.is-hidden {
      display: none;
    }
  }

  &-link {
    text-align: center;
  }

  &-selectCountry {
    margin: 0;
  }
}

@media $min-laptop {
  .FindAddress {
    &-row {
      display: flex;
    }

    &-telephone {
      display: inline;
      flex: 1;
    }
    &-country {
      flex: 1;
    }
    &-postCode {
      flex: 1;
    }
    &-houseNumber {
      flex: 1;
    }
  }
}
