/** @define YourAddress */

.YourAddress {
  border: none;
  padding: none;
  &-linkWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  &-link {
    color: $black;
    text-decoration: underline;
    font-size: 14px;
    display: inline-block;
    &--right {
      margin-left: auto;
    }
  }
  &-form {
    &.is-hidden {
      display: none;
    }
  }
}

@media $min-laptop {
  .YourAddress {
    &-row {
      display: flex;
    }

    &-address1 {
      flex: 1;
    }
    &-address2 {
      flex: 1;
    }
    &-postcode {
      flex: 1;
    }
    &-city {
      flex: 1;
    }
  }
}
