/** @define ProductCarousel */

$button-width: 25px;

.ProductCarousel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 $button-width;

  &-container {
    overflow: hidden;
    white-space: nowrap;
  }

  &-arrow {
    position: absolute;
    top: 50%;
    height: 50px;
    width: calc($carousel-arrow-width + $carousel-arrow-position);
    margin-top: -25px;

    &--left {
      left: 0;
      background: url('public/$brand/images/carousel-arrow-left.svg') 50% no-repeat;
    }

    &--right {
      right: 0;
      background: url('public/$brand/images/carousel-arrow-right.svg') 50% no-repeat;
    }
  }
}
