/** @define ProductCarouselItem; weak */

.ProductCarouselItem {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-color: $white;
  white-space: normal;

  & .Product-link {
    padding-top: 0;
  }

  &-delete {
    position: absolute;
    top: 0;
    right: $plp-product-horizontal-padding;
    width: 44px;
    height: 44px;
    color: $carousel-product-remove-color;
    background-color: transparent;
    border-color: transparent;

    &:before {
      content: 'x'
    }
  }
}
