/** @define ProductDetail */

.ProductDetail {
  &-buyNowButton {
    text-transform: none;
  }
}

@media $min-tablet {
  .ProductDetail {
    &-sizeGuide {
      width: 100%;
      margin-top: 20px;
    }
  }
}
