/** @define ProductDetail; weak */

@media $min-tablet {
  .ProductDetail {
    & .AddToBag {
      margin-bottom: 10px;
    }

    &-secondaryButtonGroup  {
      padding-bottom: 10px;  

      & > .AddToBag {
        margin-bottom: 0;
      }
    }
  }
}

@media $min-laptop {
  .ProductDetail {
    max-width: 1010px;
    margin: 0 auto;

    &-mediaColumn {
      padding-right: 30px;
    }

    &-media {
      width: 100%;
    }

    &-details {
      padding-left: 30px;
    }
  }
}
