/** @define ProductDetail */

.ProductDetail {
  &-buyNowButton {
    margin-top: 10px;
  }
}

@media $min-tablet {
  .ProductDetail {
    &-buyNowButton {
      margin-top: 10px;
    }

    &-sizeGuide {
      width: 100%;
      text-align: left;
    }
  }
}
