/** @define ProductDetail; weak */

@media $min-tablet {
  .ProductDetail {

    &-sizeGuide {
      padding-left: 9px;

      &--narrow {
        width: auto;

        & .SizeGuide {
          &-link {
            display: inline-block;
            hyphens: auto;
            word-break: break-word;
            position: relative;
            top: -10px;
            padding: 15px 5px;
            text-align: center;
          }
        }
      }
    }
  }
}
