/** @define ProductDetail */

@media $min-tablet {
  .ProductDetail {
    &-sizeGuide {
      order: 1;
      position: relative;
      width: 100%;
    }

    &-sizeGuide--narrow {
      width: auto;
    }
  }
}
