/** @define OrderComplete */

.OrderComplete {
  margin: $order-complete-padding auto;
  max-width: $laptop-end-width;

  &-error {
    text-align: $order-complete-error-text-align;

    & .OrderComplete-icon {
      display: $order-complete-error-icon-display;
      margin-bottom: $order-complete-error-icon-margin-bottom;
    }

    & .OrderComplete-errorImage {
      display: block;
      margin: 0 auto;
      width: $order-complete-error-icon-width;
    }

    & .OrderComplete-header {
      display: $order-complete-error-header-display;
      margin-top: 0;
      margin-bottom: $order-complete-error-header-margin-bottom;
      font-size: $order-complete-error-header-font-size;
      font-weight: $order-complete-error-header-font-weight;
    }

    & .OrderComplete-details {
      margin-top: 0;
      margin-bottom: $order-complete-error-details-margin-bottom;
      color: $order-complete-error-details-color;
    }
  }
  &-collectFrom {
     margin: 0;
     font-size: $order-complete-collect-from-font-size;
     font-family: $order-complete-collect-from-font-family;
     font-weight: $order-complete-collect-from-font-weight;
     letter-spacing: $order-complete-collect-from-letter-spacing;
  }
  &-paymentSummary {
    padding-top: 30px;
  }
  &-collectWithin {
    margin: 0;
    color: $md-dk-gray;
  }
  &-confirmationMail {
    display: block;
    color: $order-complete-confirmation-mail-text-color;
    font-size:  $order-complete-confirmation-mail-font-size;
    font-weight: $order-complete-confirmation-mail-font-weight;
    margin-top: $order-complete-confirmation-mail-margin-top;
  }
  &-estimatedDelivery {
    margin: 3px 0 5px 0;
    color: $order-complete-estimated-delivery-text-color;
    font-size: $order-complete-estimated-delivery-font-size;
    font-weight: $order-complete-estimated-delivery-font-weight;
  }
  &-fields {
    margin: $order-complete-fields-margin;
  }
  &-subheader {
    font-size: 1.3em;
    padding-bottom: 10px;
    border-bottom: $checkout-divider-width solid $checkout-divider-color;
  }
  &-subheaderTitle {
    margin-bottom: 0;
  }
  &-payments {
    margin: 25px 0;
  }
  &-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  &-addressHeader {
    font-size: $order-complete-address-header-font-size;
    font-weight: $order-complete-address-header-font-weight;
  }
  &-address {
    display: flex;
    line-height: $order-complete-address-line-height;
    letter-spacing: $order-complete-address-letter-spacing;
    color: $order-complete-address-color;
    font-size: $order-complete-address-font-size;
    font-weight: $order-complete-address-font-weight;
  }
  &-field {
    font-family: $order-complete-field-font-family;
    font-size: $order-complete-field-font-size;
    font-weight: $order-complete-field-font-weight;
    line-height: $order-complete-field-line-height;
    letter-spacing: $order-complete-field-letter-spacing;
    &--delivery {
      text-transform: uppercase;
    }
  }
  &-orderNumber {
    color: $order-complete-order-number-text-color;
    font-size: $order-complete-order-number-font-size;
    font-weight: $order-complete-order-number-font-weight;
    font-family: $order-complete-order-number-font-family;
    letter-spacing: $order-complete-order-number-letter-spacing;
  }
  &-trackMyOrder {
    margin: 15px 0;
  }
  &-orderDetailsContainer {
    display: flex;
    flex-direction: column;
    max-width: $order-complete-details-container-max-width;
  }
  &-orderDetailsHeader {
    display: flex;
    flex-direction: column;
    margin: $order-complete-header-margin;
    background-color: $order-complete-header-background-color;
    border-bottom: $order-complete-header-border-bottom-width solid $order-complete-header-border-bottom-color;
    &--item {
      color: $order-complete-header-item-text-color;
      margin-top: $order-complete-header-item-margin-top;
      font-size: $order-complete-header-item-font-size;
      font-weight: $order-complete-header-item-font-weight;
      line-height: $order-complete-header-item-line-height;
      letter-spacing: $order-complete-header-item-letter-spacing;
      padding-left: $order-complete-header-item-padding-left;
    }
  }

  &-orderDetails {
    display: flex;
    flex-direction: column;
    border-top: $order-complete-border-top-width solid $order-complete-border-top-color;
    border-right: $order-complete-border-right-width solid $order-complete-border-right-color;
    border-bottom: $order-complete-border-bottom-width solid $order-complete-border-bottom-color;
    border-left: $order-complete-border-left-width solid $order-complete-border-left-color;
  }
  &-deliveryIconContainer {
    padding: 10px 20px 0 15px;
    display: $order-complete-delivery-icon-display
  }
  &-deliveryIcon {
    width: $checkout-delivery-option-icon-width;
  }
  &-storeButton {
    margin: 15px 0;
  }
  &-storeContainer {
    padding: 0;
  }
  &-openingHoursTitle {
    padding-top: 20px;
    font-size: $order-complete-opening-title-font-size;
    font-weight: $order-complete-opening-title-font-weight;
    font-family: $order-complete-opening-title-font-family;
  }
  &-openingHoursRow {
    font-size: $order-complete-opening-times-font-size;
    font-weight: $order-complete-opening-times-font-weight;
    font-family: $order-complete-opening-times-font-family;
  }
  &-totals {
    border-left: $order-complete-totals-border-left;
    border-bottom: $order-complete-totals-border-bottom;
    border-right: $order-complete-totals-border-right;
  }
  &-button {
    margin-top: 20px;
    background-color: $order-complete-button-color;
    color: $order-complete-button-text-color;
    font-family: $order-complete-button-font-family;
    font-weight: $order-complete-button-font-weight;
    border: $order-complete-button-border;
  }
  &-trackMyOrderButton {
    width: 100%;
  }
}

@media $min-tablet {
  .OrderComplete {
    margin: $checkout-container-margin-vertical auto;
    padding-left: $page-padding;
    padding-right: $page-padding;
    &-addressContainer {
      border: none;
      padding: $order-complete-address-container-padding;
      margin-bottom: 15px;
    }
    &-addressHeader {
      text-transform: none;
    }
    &-bottom {
      max-width: 1060px;
      width: 100%;
    }
    &-button {
      min-width: 360px;
      padding: 0 15px;
      width: auto;
      &.is-hidden {
        display: none;
      }
    }
    &-container {
      display: flex;
      width: 100%;
    }
    &-left {
      width: 100%;
      flex: 1;
      padding-right: 20px;
    }
    &-header {
      background: $order-complete-header-background-color;
      padding: $order-complete-header-padding;
      text-transform: uppercase;
      width: 100%;
    }
    &-map {
      width: 250px;
      height: 250px;
    }
    &-recentlyViewed {
      margin: 50px 0 110px 0;
    }
    &-success {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    &-trackMyOrder {
      margin-top: 0;
    }
    &-trackMyOrderButton {
      width: 100%;
    }
  }
}

@media $min-laptop {
  .OrderComplete {
    &-map {
      width: 300px;
      height: 300px;
    }
    &-myBag {
      min-width: 380px;
    }
    &-bottom {
      max-width: 1200px;
    }
    &-orderDetailsContainer {
      flex-direction: row;
    }
    &-storeContainer {
      padding: 30px 0 30px 30px;
    }
    &-openingHoursTitle {
      padding-bottom: 10px;
    }
    &-trackMyOrderButton {
      width: auto;
    }
  }
}
