body {
    height: 600px;
    /* popovers have a max height of 600px */
    width: 360px;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 32px;
    display: flex;
    padding: 16px 16px 16px;
    border-bottom: 1px solid;
    justify-content: space-between;
    border-bottom-color: #eeeeee;
}

.header-icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
}

.we-customer-review,
.we-trusted-review {
    background-color: #f8f8f8;
    border-radius: 6px;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    align-self: start;
    height: 100%;
}

stars-outlines {
    width: 120px;
    background-position: 0 25px;
}

.we-star-rating--large .we-star-rating-stars,
.we-star-rating--large .we-star-rating-stars-outlines {
    height: 25px;
    background-size: 24px 50px;
}

.we-star-rating-stars-outlines {
    width: 50px;
    line-height: 9.5px;
    z-index: 1;
}

.we-star-rating-stars,
.we-star-rating-stars-outlines {
    display: inline-block;
    height: 9.5px;
    background-image: url(https://apps.apple.com/assets/images/stars-lg-bc4f4bfdd931e007ab096dd1c209c689.svg);
    background-size: 10px 19px;
}

.main-container {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 13px;
}

.we-customer-review__header--user {
    margin-bottom: 15px;
    color: #636366;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 600;
    letter-spacing: 0;
    font-family: "SF Pro Text", "SF Pro Icons", "Apple WebExp Icons Custom", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.we-customer-review__title {
    font-size: 13px;
    line-height: 1.38462;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Text", "SF Pro Icons", "Apple WebExp Icons Custom", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.we-customer-review {
    padding: 13px 16px 16px;
}

.we-customer-review__body {
    font-size: 13px;
    line-height: 1.38462;
    font-weight: 400;
    letter-spacing: -.005em;
    font-family: "SF Pro Text", "SF Pro Icons", "Apple WebExp Icons Custom", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ember-view {
    padding-bottom: 10px;
}

.we-customer-review__date {
    float: right;
}

abbr,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
input,
legend,
li,
ol,
p {
    margin: 0;
    padding: 0;
}

.we-star-rating--large .we-star-rating-stars.we-star-rating-stars-5 {
    width: 120px;
}

.review-container {
    padding-bottom: 15px;
}