/** @define FindAddressV1 */

.FindAddressV1 {
  border: 0;

  &-link {
    color: $black;
    text-decoration: underline;
    font-size: 14px;
    text-align: right;
    display: block;
  }

  &-form {
    &.is-hidden {
      display: none;
    }
  }

  &-selectAddress {
    margin-top: 15px;

    &.is-hidden {
      display: none;
    }
  }

  &-link {
    text-align: center;
  }

  &-selectCountry {
    margin: 0;
  }
}

@media $min-laptop {
  .FindAddressV1 {
    &--multiColumn {
      & .FindAddressV1 {
        &-row {
          display: flex;
        }

        &-telephone {
          display: inline;
          flex: 1;
        }

        &-country {
          flex: 1;
        }

        &-postcode {
          flex: 1;
        }

        &-houseNumber {
          flex: 1;
        }

        &-telephone,
        &-postcode {
          margin-right: $left-col-margin;
        }

        &-country,
        &-houseNumber {
          margin-left: $right-col-margin;
        }
      }
    }
  }
}
