/** @define DetailsForm */

.DetailsForm {
  border: none;
  padding: 0;
  &-header {
    padding-bottom: 15px;
  }
  &-headerText {
    margin: 0;
  }
  &--storeDelivery {
    padding-top: 15px;
  }
  &-col {
     display: none;
  }
}

@media $min-laptop {
  .DetailsForm {
    &-row {
      display: flex;
    }
    &-title {
      flex: 1;
    }
    &-col {
      flex: 1;
    }
    &-firstName, &-lastName, &-telephone {
      flex: 1;
    }
    &-col {
      display: block;
    }
    &--store, &--parcel {
      & .DetailsForm {
        &-telephoneRow {
          display: flex;
        }
        &-telephone {
          display: block;
        }
      }
    }
  }
}
