/** @define OrderProducts */

@lost flexbox flex;
@lost gutter 10px;


.OrderProducts {
  padding: 0 $mini-bag-padding;
  &-wrapper {
    display: flex;
    /* NOTE */
    /* Reverse the order to display the newest product at the top */
    flex-direction: column-reverse;
  }
  &--checkoutBagSide {
    padding: 0 $checkout-bag-side-padding-horizontal;
  }
  &.is-scrollable {
    max-height: 650px;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-background-color;
      border-radius: $scrollbar-border-radius;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: $scrollbar-background-color;
      border-radius: $scrollbar-border-radius;
    }
  }
  &-media {
    display: flex;
  }
  &-mediaLeft {
    lost-column: 1/3;
  }
  &-mediaBody {
    lost-column: 2/3;
    position: relative;
    font-size: $mini-bag-content-font-size;
  }
  &-row {
    display: flex;
    margin: $mini-bag-row-margin;
  }
  &-label {
    margin-right: $mini-bag-label-margin-right;
    font-weight: $mini-bag-product-label-font-weight;
    font-size: $mini-bag-product-label-font-size;
  }
  &-total {
    font-size: $mini-bag-product-total-font-size;
  }
  &-quantities,
  &-sizes {
    width: 100%;
    border-radius: 5px;
  }
  &-deleteLabel,
  &-editLabel,
  &-addToWishlistLabel,
  &-removeFromWishlistLabel {
    text-decoration: underline;
    color: $mini-bag-content-edit-color;
  }
  &-editText,
  &-deleteText {
    line-height: 1.5;
    border: none;
    cursor: pointer;
    display: inline-block;
    background: transparent;
  }
  &-productImage {
    width: 100%;
  }
  &-product {
    padding: 15px 0;
    border-top: 1px solid $mini-bag-content-border-color;
    flex-shrink: 0;
    &:first-child {
      border-top: none;
    }
  }
  &-productSize,
  &-productQty,
  &-productSubtotal,
  &-price {
    color: $mini-bag-content-font-color;
    font-family: $mini-bag-content-font-family;
    letter-spacing: $mini-bag-content-letter-spacing;
    font-weight: $mini-bag-content-font-weight;
  }
  &-price {
    display: flex;
  }
  &-productSubtotal {
    font-weight: $mini-bag-content-subtotal-font-weight;
    margin-top: $mini-bag-content-subtotal-margin-top;
  }
  &-productSubtotal {
    & .OrderProducts-price {
      font-weight: $mini-bag-content-subtotal-font-weight;
    }
  }
  &-productLowStock,
  &-productOutOfStock {
    margin-left: 5px;
  }
  &-productLowStock {
    color: $mini-bag-content-low-stock-font-color;
  }
  &-productOutOfStock {
    color: $mini-bag-content-out-of-stock-font-color;
  }
  &-modal {
    width: 100%;
  }
  &-saveText {
    text-decoration: underline;
  }
  &-saveText {
    width: fit-content;
    margin-right: 10px;
  }
  &-inlineButtons {
    lost-flex-container: row;
    position: relative;
    min-height: 32px;
    margin-top: $cta-gutter-top;
    margin-right: -$cta-gutter;
  }
  &-editContainer {
    position: relative;
    margin-top: 10px;
    min-height: 20px;
  }
  &-editText {
    font-weight: $mini-bag-content-edit-font-weight;
  }
  &-deleteText {
    position: absolute;
    padding: 10px;
    right: -10px;
    bottom: -10px;
  }
  &-deleteIcon {
    display: $mini-bag-content-delete-icon-shown;
    max-width: $mini-bag-content-delete-size;
    max-height: $mini-bag-content-delete-size;
    vertical-align: bottom;
  }
  &-deleteLabel {
    display: $mini-bag-content-delete-label-shown;
    font-family: $font-family-body;
    color: $mini-bag-content-edit-color;
  }
  &-paragraph {
    margin: 0;
  }
  &-productName {
    font-size: $mini-bag-content-name-font-size;
    font-weight: $mini-bag-content-name-font-weight;
    font-family: $mini-bag-content-name-font-family;
    margin-bottom: $mini-bag-content-name-margin-bottom;
    text-transform: $mini-bag-content-name-text-transform;
    letter-spacing: $mini-bag-content-name-letter-spacing;
  }
  &-collectionDetails {
    color: $mini-bag-content-success-color;
  }
  &-infoBox {
    display: none;
    color: $error-color;
    font-size: 12px;
   }
}
