/*
  Styles for London Fashion Week 16
  If this file stays small keep it in here, otherwise use @imports
*/

@import "./Lfw16-vars.css";
#lfw16 {
  position: absolute;
  background: $cl-black;
  font-size: $text-base-size;
  line-height: $text-base-line-height;
  text-align: center;
  font-family: Platform, sans-serif;
  color: $cl-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  & h1, & h2, & h3, & h4, & h5 {
    font-family: Platform, sans-serif;
    text-transform: $text-h1-transform;
  }
  & h1 {
    color: $cl-sand;
    font-size: $text-h1-size;
    font-weight: $text-h1-weight;
    letter-spacing: 0.085em;
    line-height: $text-h1-size;
    margin: 10px 0 15px;
  }
  & h2 {
    font-size: $text-h2-size;
    font-weight: bold;
  }
  & h3 {
    font-size: $text-h3-size;
  }
  & h4 {
    font-size: $text-h4-size;
    line-height: $text-h4-line-height;
  }
  & h5 {
    font-size: $text-h5-size;
    line-height: $text-h5-line-height;
  }
  & .CmsComponent-intro {
    padding: $page-padding;
    background-color: $cl-ex-dk-gray;
    & p {
      color: $cl-white;
      line-height: $text-base-line-height;
    }
  }
  & .CmsComponent-showspaceintro {
    padding: 10px $page-padding $page-padding;
    background-color: $cl-sand;
    border-top: 2px solid $cl-white;

    & h1 {
      color: black;
    }
    & p {
      color: black;
      line-height: $text-base-line-height;
    }
  }
  & .CmsComponent-flux {
    width: 100%;
  }

  & .SocialCarousel {
    margin-top: -2px;
    background-color: white;
    padding: 10px 0 65px;
    border-top: 2px solid #AEAEAE;
    position: relative;
  }

  & .CmsComponent-topstories {
    margin-top: -2px;
    position: relative;
    background-color: $cl-dk-gray;
    padding: 10px 10px 50px;
    border-top: 2px solid $cl-sand;
    letter-spacing: 0.085em;

    & div {
      margin-bottom: 10px;
    }

    & div > div {
      background: $cl-white;
      padding: 15px;
      margin-top: -5px;
    }

    & img {
      width: 100%;
    }

    & h4 {
      margin: 0;
      color: $cl-ex-dk-gray;
      font-weight: bold;
    }

    & p {
      margin-top: 10px;
      padding: 0 15px;
    }

    & a {
      display: block;
      width: 100%;
      padding: 5px 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      touch-action: manipulation;
      text-decoration: none;
      line-height: 1.9em;
      font-size: 1.125em;

      background-color: $cl-ex-dk-gray;
      color: $cl-white;
    }
  }
}
