/*
  Variables: (Todo: Should be diff file but postcss-import is broken)
*/

$cl-black: #000000;
$cl-ex-dk-gray: #232323;
$cl-dk-gray: #313132;
$cl-md-gray: #6f6f6f;
$cl-white: #ffffff;
$cl-dk-sand: #817d78;
$cl-sand: #d9d2ca;
$cl-red: #e25c5c;

$text-h1-size: 35px;
$text-h1-transform: uppercase;
$text-h1-weight: 100;
$text-h2-size: 24px;
$text-h2-weight: 500;
$text-h3-weight: normal;
$text-h3-size: 13px;
$text-h3-line-height: 25px;
$text-h4-size: 18px;
$text-h4-line-height: 20px;
$text-h5-size: 13px;
$text-h5-line-height: 16px;

$text-base-size: 13px;
$text-base-line-height: 18px;
$text-read-more-size: 28px;
$text-read-more-transform: uppercase;
$text-blog-heading-transform: uppercase;

$text-map-heading-size: 28px;
$text-map-heading-transform: uppercase;
$text-map-heading-weight: 400;

$text-feature-heading-size: 30px;
$text-feature-heading-transform: uppercase;
$text-feature-heading-weight: bold;
$text-feature-body-size: 20px;

$page-padding: 20px;
