/** @define ShoppingCart; weak */

.ShoppingCart {
  display: block;
  height: 100%;
  margin: $shopping-cart-margin-tablet;
  overflow: visible;

  &-label {
    color: $font-color-base;
    display: none;
    font-size: $shopping-cart-label-font-size-tablet;
    margin: 0 5px 0 0;
    vertical-align: middle;
  }

  &-icon {
    background-image: $shopping-cart-icon-active;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: $shopping-cart-icon-height-tablet;
    position: relative;
    vertical-align: middle;
    width: $shopping-cart-icon-width-tablet;
  }

  &.is-empty {
    & .ShoppingCart-icon {
      background-image: $shopping-cart-icon;
    }
  }

  &-itemsCount {
    background-color: $shopping-cart-count-bg-color;
    border-radius: 100%;
    color: $shopping-cart-count-color;
    display: $shopping-cart-count-display;
    font-size: $shopping-cart-count-font-size-tablet;
    left: $shopping-cart-count-left;
    line-height: $shopping-cart-count-line-height;
    min-width: $shopping-cart-count-min-width;
    position: $shopping-cart-count-position;
    top: $shopping-cart-count-top;
    vertical-align: $shopping-cart-count-vertical-align;
  }
}

@media $min-laptop {
  .ShoppingCart {
    &-label {
      display: inline;
    }
  }
}

@media $desktop {
  .ShoppingCart {
    margin: $shopping-cart-margin;
    
    &-label {
      font-size: $shopping-cart-label-font-size;
    }

    &-icon {
      height: $shopping-cart-icon-height;
      width: $shopping-cart-icon-width;
    }

    &-itemsCount {
      font-size: $shopping-cart-count-font-size;
      top: $shopping-cart-count-top-desktop;
      line-height: $shopping-cart-count-line-height-desktop;
      vertical-align: $shopping-cart-count-vertical-align-desktop;
    }
  }
}
