/** @define CardPaymentMethod; weak */

.CardPaymentMethod {
  margin-right: -10px;

  &-cardNumber {
    box-sizing: border-box;
    margin-bottom: 0;
    padding-right: 10px;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &-expiryDate {
    flex-basis: 100%;
    display: flex;
    margin-top: $input-margin-vertical;

    &.is-erroring + .CVVField {
      margin-bottom: 26px;
    }
  }

  &-expiryDate {
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &-expiryMonth,
  &-expiryYear {
    flex: 1;
    margin: 0;
    box-sizing: border-box;
    padding-right: 10px;
  }

  &-link {
    text-decoration: underline;
  }

  &-expiryValidationMessage {
    flex-basis: 100%;
  }

  &-expiryValidationMessage.is-shown {
    margin-top: calc($input-margin-vertical / 2);
  }
}

@media $min-tablet {
  .CardPaymentMethod {
    &-cardNumber {
      width: 66.66%;
    }

    &-expiryDate {
      flex-basis: 66.66%;
    }

    &-cvvFieldContainer {
       width: 53%;
    }
  }
}

@media $min-laptop {
  .CardPaymentMethod {
    &-cardNumber {
      width: 50%;
    }

    &-expiryDate {
      flex-basis: 50%;
    }

    &-cvvFieldContainer {
     width: 50%;
   }
  }
}
