/** @define CVVField */

.CVVField {
  &-row {
    flex-basis: 100%;
    display: flex;
    margin-top: $input-margin-vertical;
    align-items: center;
  }

  &-cvv,
  &-cvvHelp {
    margin: 0 !important;
  }

  &-cvv {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-right: 10px;
  }

  &-cvvHelp {
    position: relative;
    top: 7px;
  }

  &-link {
    white-space: nowrap;
    text-decoration: underline;
    margin-top: 50px;
    cursor: pointer;
  }

  &-cvvInfo {
    margin: 10px 0 0;
  }
}

@media $min-tablet {
  .CVVField {
    &-row {
      flex-basis: 33.33%;
    }

    &-cvv {
      flex-basis: 100%;
    }
  }
}

@media $min-laptop {
  .CVVField {
    &-row {
      flex-basis: 50%;
    }

    &-cvv {
      flex-basis: 50%;
    }
  }
}
