/** @define PaymentMethodPreview */

.PaymentMethodPreview {
  position: relative;
  margin-top: $checkout-content-padding;
  display: flex;

  @media $min-laptop {
    padding-right: 100px;
  }

  &-button {
    width: auto;
    max-width: 82.5px;
    margin-top: $checkout-content-padding;

    @media $min-laptop {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
    }
  }

  &-details{
    display:flex;
    flex-direction: column;
   }

  &-icon {
     margin: 3.5px 11px 0 1px;
     width: 38px;
     align-self: flex-start;
   }
}
