<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {{#isWeeknightFunctionalStubs}}
    <title>AFT: {{scenarioSuccessRate.FunctionalStubs}}%, {{title}}</title> <title>AFT: {{scenarioSuccessRate.FunctionalStubs}}%, {{title}}</title>
    {{/isWeeknightFunctionalStubs}}

    {{#isWeeknightFunctionalEnvironment}}
    <title>AFT: {{scenarioSuccessRate.FunctionalEnvironment}}%, {{title}}</title>
    {{/isWeeknightFunctionalEnvironment}}

    {{#isWeeknightUATRegression}}
    <title>AFT: {{scenarioSuccessRate.UATRegression}}%, {{title}}</title>
    {{/isWeeknightUATRegression}}

    {{#isCompatibility}}
    {{^isWeekend}}
    <title>AFT: {{scenarioSuccessRate.Compatibility}}%, {{title}}</title>
    {{/isWeekend}}

    {{#isWeekend}}
    <title>AFT Weekend: {{scenarioSuccessRate.Compatibility}}%, {{title}}</title>
    {{/isWeekend}}
    {{/isCompatibility}}
    <style media="screen" type="text/css">
        .jumbotron {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        {{#isWeeknightFunctionalStubs}}
        <h1>AFT: {{scenarioSuccessRate.FunctionalStubs}}%, {{title}}</h1>
        {{/isWeeknightFunctionalStubs}}

        {{#isWeeknightFunctionalEnvironment}}
        <h1>AFT: {{scenarioSuccessRate.FunctionalEnvironment}}%, {{title}}</h1>
        {{/isWeeknightFunctionalEnvironment}}

        {{#isWeeknightUATRegression}}
        <h1>AFT: {{scenarioSuccessRate.UATRegression}}%, {{title}}</h1>
        {{/isWeeknightUATRegression}}

        {{#isCompatibility}}
        {{^isWeekend}}
        <h1>AFT: {{scenarioSuccessRate.Compatibility}}%, {{title}}</h1>
        {{/isWeekend}}

        {{#isWeekend}}
        <h1>AFT Weekend: {{scenarioSuccessRate.Compatibility}}%, {{title}}</h1>
        {{/isWeekend}}
        {{/isCompatibility}}

        <p class="lead">{{subtitle}}</p>
        <p style="font-size: large; font-style: italic">Can't view the report properly in Outlook?
            <a href="{{reportUrl}}artifact/report.html">Click here</a> to view in your browser
        </p>
    </div>

    {{#isWeeknightFunctionalStubs}}

    <h4>Functional Test Report</h4>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Overall Feature Pass Rate <span style="font-size: medium">({{totalFeaturesExecuted}}/{{totalFeaturesCount}})</span>  <span class="badge badge-primary float-right">{{featureSuccessRate.FunctionalStubs}}%</span>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Test Pass Percentage <span style="font-size: medium">({{totalScenariosExecuted}}/{{totalScenarios}})</span>  <span class="badge badge-primary float-right">{{scenarioSuccessRate.FunctionalStubs}}%</span>
                    </h5>
                    <h5 class="card-title">Scenario(s) Executed  <span class="float-right lead">{{functionalStubTeamBreakdown.matchingScenariosNotManualAndNotPending}}</span>
                    </h5>
                    <h5 class="card-title">Total Automated Scenarios  <span class="float-right lead">{{functionalStubTeamBreakdown.automatedScenarios}}</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Execution Stability  <span class="badge badge-primary float-right">{{testrunnerSuccessRate.FunctionalStubs}}%</span>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Tests Runners  <span class="float-right lead">{{totalRunnersExecuted}} of {{totalRunners}}</span>
                    </h5>
                    <h5 class="card-title">Number of devices  <span class="float-right lead">{{devicesCount.weeknightFunctionalStubsDeviceCount.iOS}} IOS &amp; {{devicesCount.weeknightFunctionalStubsDeviceCount.Android}} Android</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Primary iOS
                    <span
                            class="badge badge-secondary  float-right ml-1">{{testrunnerSuccessRate.StubsIos}}% TRS</span>
                    <span
                            class="badge badge-secondary float-right ml-1">{{scenarioSuccessRate.StubsIos}}% SPR</span>
                    <span
                            class="badge badge-primary  float-right">{{featureSuccessRate.StubsIos}}% FPR</span>
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">Run Duration (Avg.)  <span class="float-right lead">{{iOSBuildDuration}}</span>
                        </h5>
                    </li>
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div>
                            <span>Features</span>
                            <div class=" progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{featureSuccessRate.StubsIos}}%"
                                     aria-valuenow="{{featureSuccessRate.StubsIos}}" aria-valuemin="0"
                                     aria-valuemax="100">{{featureSuccessRate.StubsIos}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{featureFailedRate.StubsIos}}%"
                                     aria-valuenow="{{featureFailedRate.StubsIos}}" aria-valuemin="0"
                                     aria-valuemax="100">{{featureFailedRate.StubsIos}}%
                                </div>
                            </div>
                        </div>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{scenarioSuccessRate.StubsIos}}%"
                                     aria-valuenow="{{scenarioSuccessRate.StubsIos}}" aria-valuemin="0"
                                     aria-valuemax="100">{{scenarioSuccessRate.StubsIos}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{scenarioFailedRate.StubsIos}}%"
                                     aria-valuenow="{{scenarioFailedRate.StubsIos}}" aria-valuemin="0"
                                     aria-valuemax="100">{{scenarioFailedRate.StubsIos}}%
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="{{featureScenarioPerJob.StubsIosLds.url}}"><span
                                style="font-size: 0.9em;">Lloyds</span></a>
                        <div style="width:100%">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Feature ({{featureScenarioPerJob.StubsIosLds.featureCount.passed}}/{{featureScenarioPerJob.StubsIosLds.featureCount.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{featureSuccessRate.StubsIosLds}}%"
                                             aria-valuenow="{{featureSuccessRate.StubsIosLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureSuccessRate.StubsIosLds}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{featureFailedRate.StubsIosLds}}%"
                                             aria-valuenow="{{featureFailedRate.StubsIosLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureFailedRate.StubsIosLds}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%" class="">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Scenario ({{featureScenarioPerJob.StubsIosLds.scenarios.passed}}/{{featureScenarioPerJob.StubsIosLds.scenarios.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{scenarioSuccessRate.StubsIosLds}}%"
                                             aria-valuenow="{{scenarioSuccessRate.StubsIosLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioSuccessRate.StubsIosLds}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{scenarioFailedRate.StubsIosLds}}%"
                                             aria-valuenow="{{scenarioFailedRate.StubsIosLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioFailedRate.StubsIosLds}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="{{featureScenarioPerJob.StubsIosHfx.url}}"><span
                                style="font-size: 0.9em;">Halifax</span></a>
                        <div style="width:100%">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Feature ({{featureScenarioPerJob.StubsIosHfx.featureCount.passed}}/{{featureScenarioPerJob.StubsIosHfx.featureCount.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{featureSuccessRate.StubsIosHfx}}%"
                                             aria-valuenow="{{featureSuccessRate.StubsIosHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureSuccessRate.StubsIosHfx}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{featureFailedRate.StubsIosHfx}}%"
                                             aria-valuenow="{{featureFailedRate.StubsIosHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureFailedRate.StubsIosHfx}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%" class="">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Scenario ({{featureScenarioPerJob.StubsIosHfx.scenarios.passed}}/{{featureScenarioPerJob.StubsIosHfx.scenarios.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{scenarioSuccessRate.StubsIosHfx}}%"
                                             aria-valuenow="{{scenarioSuccessRate.StubsIosHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioSuccessRate.StubsIosHfx}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{scenarioFailedRate.StubsIosHfx}}%"
                                             aria-valuenow="{{scenarioFailedRate.StubsIosHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioFailedRate.StubsIosHfx}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <a href="{{featureScenarioPerJob.StubsIosBos.url}}"><span style="font-size: 0.9em;">Bank of Scotland</span></a>
                        <div style="width:100%">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Feature ({{featureScenarioPerJob.StubsIosBos.featureCount.passed}}/{{featureScenarioPerJob.StubsIosBos.featureCount.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{featureSuccessRate.StubsIosBos}}%"
                                             aria-valuenow="{{featureSuccessRate.StubsIosBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureSuccessRate.StubsIosBos}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{featureFailedRate.StubsIosBos}}%"
                                             aria-valuenow="{{featureFailedRate.StubsIosBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureFailedRate.StubsIosBos}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%" class="">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Scenario ({{featureScenarioPerJob.StubsIosBos.scenarios.passed}}/{{featureScenarioPerJob.StubsIosBos.scenarios.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{scenarioSuccessRate.StubsIosBos}}%"
                                             aria-valuenow="{{scenarioSuccessRate.StubsIosBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioSuccessRate.StubsIosBos}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{scenarioFailedRate.StubsIosBos}}%"
                                             aria-valuenow="{{scenarioFailedRate.StubsIosBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioFailedRate.StubsIosBos}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Primary Android
                    <span
                            class="badge badge-secondary  float-right ml-1">{{testrunnerSuccessRate.StubsAndroid}}% TRS</span>
                    <span
                            class="badge badge-secondary float-right ml-1">{{scenarioSuccessRate.StubsAndroid}}% SPR</span>
                    <span
                            class="badge badge-primary  float-right">{{featureSuccessRate.StubsAndroid}}% FPR</span>
                </h5>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">Run Duration (Avg.)  <span class="float-right lead">{{androidBuildDuration}}</span>
                        </h5>
                    </li>
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div>
                            <span>Features</span>
                            <div class=" progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{featureSuccessRate.StubsAndroid}}%"
                                     aria-valuenow="{{featureSuccessRate.StubsAndroid}}" aria-valuemin="0"
                                     aria-valuemax="100">{{featureSuccessRate.StubsAndroid}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{featureFailedRate.StubsAndroid}}%"
                                     aria-valuenow="{{featureFailedRate.StubsAndroid}}" aria-valuemin="0"
                                     aria-valuemax="100">{{featureFailedRate.StubsAndroid}}%
                                </div>
                            </div>
                        </div>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{scenarioSuccessRate.StubsAndroid}}%"
                                     aria-valuenow="{{scenarioSuccessRate.StubsAndroid}}" aria-valuemin="0"
                                     aria-valuemax="100">{{scenarioSuccessRate.StubsAndroid}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{scenarioFailedRate.StubsAndroid}}%"
                                     aria-valuenow="{{scenarioFailedRate.StubsAndroid}}" aria-valuemin="0"
                                     aria-valuemax="100">{{scenarioFailedRate.StubsAndroid}}%
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="{{featureScenarioPerJob.StubsAndroidLds.url}}">
                            <span style="font-size: 0.9em;">Lloyds</span></a>
                        <div style="width:100%">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Feature ({{featureScenarioPerJob.StubsAndroidLds.featureCount.passed}}/{{featureScenarioPerJob.StubsAndroidLds.featureCount.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{featureSuccessRate.StubsAndroidLds}}%"
                                             aria-valuenow="{{featureSuccessRate.StubsAndroidLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureSuccessRate.StubsAndroidLds}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{featureFailedRate.StubsAndroidLds}}%"
                                             aria-valuenow="{{featureFailedRate.StubsAndroidLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureFailedRate.StubsAndroidLds}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%" class="">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Scenario ({{featureScenarioPerJob.StubsAndroidLds.scenarios.passed}}/{{featureScenarioPerJob.StubsAndroidLds.scenarios.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{scenarioSuccessRate.StubsAndroidLds}}%"
                                             aria-valuenow="{{scenarioSuccessRate.StubsAndroidLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioSuccessRate.StubsAndroidLds}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{scenarioFailedRate.StubsAndroidLds}}%"
                                             aria-valuenow="{{scenarioFailedRate.StubsAndroidLds}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioFailedRate.StubsAndroidLds}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a href="{{featureScenarioPerJob.StubsAndroidHfx.url}}">
                            <span style="font-size: 0.9em;">Halifax</span></a>
                        <div style="width:100%">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Feature ({{featureScenarioPerJob.StubsAndroidHfx.featureCount.passed}}/{{featureScenarioPerJob.StubsAndroidHfx.featureCount.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{featureSuccessRate.StubsAndroidHfx}}%"
                                             aria-valuenow="{{featureSuccessRate.StubsAndroidHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureSuccessRate.StubsAndroidHfx}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{featureFailedRate.StubsAndroidHfx}}%"
                                             aria-valuenow="{{featureFailedRate.StubsAndroidHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureFailedRate.StubsAndroidHfx}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%" class="">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Scenario ({{featureScenarioPerJob.StubsAndroidHfx.scenarios.passed}}/{{featureScenarioPerJob.StubsAndroidHfx.scenarios.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{scenarioSuccessRate.StubsAndroidHfx}}%"
                                             aria-valuenow="{{scenarioSuccessRate.StubsAndroidHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioSuccessRate.StubsAndroidHfx}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{scenarioFailedRate.StubsAndroidHfx}}%"
                                             aria-valuenow="{{scenarioFailedRate.StubsAndroidHfx}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioFailedRate.StubsAndroidHfx}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <a href="{{featureScenarioPerJob.StubsAndroidBos.url}}">
                            <span style="font-size: 0.9em;">Bank of Scotland</span></a>
                        <div style="width:100%">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Feature ({{featureScenarioPerJob.StubsAndroidBos.featureCount.passed}}/{{featureScenarioPerJob.StubsAndroidBos.featureCount.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{featureSuccessRate.StubsAndroidBos}}%"
                                             aria-valuenow="{{featureSuccessRate.StubsAndroidBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureSuccessRate.StubsAndroidBos}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{featureFailedRate.StubsAndroidBos}}%"
                                             aria-valuenow="{{featureFailedRate.StubsAndroidBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{featureFailedRate.StubsAndroidBos}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width:100%" class="">
                            <div class="d-flex flex-row">
                                <span style="flex: 0 0 120px; font-size: 0.8em; font-weight: bold; margin-top: 2px; "
                                      class="text-muted mr-2">Scenario ({{featureScenarioPerJob.StubsAndroidBos.scenarios.passed}}/{{featureScenarioPerJob.StubsAndroidBos.scenarios.total}})</span>
                                <div style="flex:1" class="mt-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar"
                                             style="width: {{scenarioSuccessRate.StubsAndroidBos}}%"
                                             aria-valuenow="{{scenarioSuccessRate.StubsAndroidBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioSuccessRate.StubsAndroidBos}}%
                                        </div>
                                        <div class="progress-bar bg-danger" role="progressbar"
                                             style="width: {{scenarioFailedRate.StubsAndroidBos}}%"
                                             aria-valuenow="{{scenarioFailedRate.StubsAndroidBos}}" aria-valuemin="0"
                                             aria-valuemax="100">{{scenarioFailedRate.StubsAndroidBos}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div style="margin-top: 10px">
        <h5>Team Breakdown</h5>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Total Scenarios</th>
            <th>Scenarios Matching Criteria</th>
            <th>Actually Running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total Run</th>
            <th>Failures</th>
            <th>Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#functionalStubTeamData}}
        <tr>
            <td><a href="#{{teams}}">{{teams}}</a></td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            <td>{{totalRun}}</td>
            <td>{{failedScenarios}}</td>
            <td>{{pr}}%</td>
        </tr>
        {{/functionalStubTeamData}}
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Name</th>
            <th>Total Scenarios</th>
            <th>Scenarios Matching Criteria</th>
            <th>Actually Running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total Run</th>
            <th>Failures</th>
            <th>Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#functionalStubTeamBreakdown.teamBreakdown}}
        <tr>
            <td id="{{teams}}">{{teams}}</td>
            <td>{{name}}</td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            {{#data}}
            <td>{{data.total}}</td>
            <td>{{data.failed}}</td>
            <td>{{data.pr}}%</td>
            {{/data}}
            {{^data}}
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            {{/data}}
        </tr>
        {{/functionalStubTeamBreakdown.teamBreakdown}}
        </tbody>
    </table>

    <h5>Jobs Breakdown</h5>
    {{#jobs}}
    <h6>{{title}}</h6>
    <ul>
        <li>{{testrunnerReport}}
            {{^testrunnerDetailedFailuresAvailable}}
        </li>
        {{/testrunnerDetailedFailuresAvailable}}

        {{#testrunnerDetailedFailuresAvailable}}
        <li>Test Runner Failures:</li>
        <ul>
            {{#testrunnerDetailedFailures}}
            <li>{{.}}</li>
            {{/testrunnerDetailedFailures}}
        </ul>
        </li>
        {{/testrunnerDetailedFailuresAvailable}}
    </ul>
    {{/jobs}}

    {{/isWeeknightFunctionalStubs}}

    {{#isWeeknightFunctionalEnvironment}}

    <h4>Functional Test Report</h4>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Overall Feature Pass Rate <span style="font-size: medium">({{totalFeaturesExecuted}}/{{totalFeaturesCount}})</span>  <span class="badge badge-primary float-right">{{featureSuccessRate.FunctionalEnvironment}}%</span>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Test Pass Percentage <span style="font-size: medium">({{totalScenariosExecuted}}/{{totalScenarios}})</span> <span class="badge badge-primary float-right">{{scenarioSuccessRate.FunctionalEnvironment}}%</span>
                    </h5>
                    <h5 class="card-title">Scenario Executed  <span class="float-right lead">{{functionalEnvironmentTeamBreakdown.matchingScenariosNotManualAndNotPending}}</span>
                    </h5>
                    <h5 class="card-title">Total Automated Scenarios  <span class="float-right lead">{{functionalEnvironmentTeamBreakdown.automatedScenarios}}</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Execution Stability  <span class="badge badge-primary float-right">{{testrunnerSuccessRate.FunctionalEnvironment}}%</span>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Tests Runners  <span class="float-right lead">{{totalRunnersExecuted}} of {{totalRunners}}</span>
                    </h5>
                    <h5 class="card-title">Number of devices  <span class="float-right lead">{{devicesCount.weeknightFunctionalEnvironmentDeviceCount.iOS}} IOS &amp; {{devicesCount.weeknightFunctionalEnvironmentDeviceCount.Android}} Android</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px">
        <h5>Team Breakdown</h5>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Total Scenarios</th>
            <th>Scenarios Matching Criteria</th>
            <th>Actually Running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total Run</th>
            <th>Failures</th>
            <th>Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#functionalEnvironmentTeamData}}
        <tr>
            <td><a href="#{{teams}}">{{teams}}</a></td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            <td>{{totalRun}}</td>
            <td>{{failedScenarios}}</td>
            <td>{{pr}}%</td>
        </tr>
        {{/functionalEnvironmentTeamData}}
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Name</th>
            <th>Total Scenarios</th>
            <th>Scenarios Matching Criteria</th>
            <th>Actually Running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total Run</th>
            <th>Failures</th>
            <th>Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#functionalEnvironmentTeamBreakdown.teamBreakdown}}
        <tr>
            <td id="{{teams}}">{{teams}}</td>
            <td>{{name}}</td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            {{#data}}
            <td>{{data.total}}</td>
            <td>{{data.failed}}</td>
            <td>{{data.pr}}%</td>
            {{/data}}
            {{^data}}
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            {{/data}}
        </tr>
        {{/functionalEnvironmentTeamBreakdown.teamBreakdown}}
        </tbody>
    </table>

    <h5>Jobs Breakdown</h5>
    {{#jobs}}
    <h6>{{title}}</h6>
    <ul>
        <li>{{testrunnerReport}}
            {{^testrunnerDetailedFailuresAvailable}}
        </li>
        {{/testrunnerDetailedFailuresAvailable}}

        {{#testrunnerDetailedFailuresAvailable}}
        <li>Test Runner Failures:</li>
        <ul>
            {{#testrunnerDetailedFailures}}
            <li>{{.}}</li>
            {{/testrunnerDetailedFailures}}
        </ul>
        </li>
        {{/testrunnerDetailedFailuresAvailable}}
    </ul>
    {{/jobs}}

    {{/isWeeknightFunctionalEnvironment}}

    {{#isWeeknightUATRegression}}

    <h4>UAT Regression Test Report</h4>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Overall Feature Pass Rate for all devices <span style="font-size: medium">({{totalFeaturesExecuted}}/{{totalFeaturesCount}})</span>  <span class="badge badge-primary float-right">{{featureSuccessRate.UATRegression}}%</span>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Test Pass Percentage for all devices<span style="font-size: medium">({{totalScenariosExecuted}}/{{totalScenarios}})</span> <span class="badge badge-primary float-right">{{scenarioSuccessRate.UATRegression}}%</span>
                    </h5>
                    <h5 class="card-title">No of unique Feature Files Executed  <span class="float-right lead">{{uatRegressionTeamBreakdown.matchingFeatures}}</span>
                    </h5>
                    <h5 class="card-title">No of unique Scenarios Executed  <span class="float-right lead">{{uatRegressionTeamBreakdown.matchingScenariosNotManualAndNotPending}}</span>
                    </h5>
                    <h5 class="card-title">Total Automated Scenarios for all devices  <span class="float-right lead">{{uatRegressionTeamBreakdown.automatedScenarios}}</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Execution Stability  <span class="badge badge-primary float-right">{{testrunnerSuccessRate.UATRegression}}%</span>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Tests Runners  <span class="float-right lead">{{totalRunnersExecuted}} of {{totalRunners}}</span>
                    </h5>
                    <h5 class="card-title">Number of devices  <span class="float-right lead">{{devicesCount.weeknightUATRegressionDeviceCount.iOS}} IOS &amp; {{devicesCount.weeknightUATRegressionDeviceCount.Android}} Android</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px">
        <h5>Team Breakdown</h5>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Total unique Scenarios</th>
            <th>Unique Scenarios Matching Criteria</th>
            <th>Actually unique scenarios running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total no of Test Cases executed for all devices</th>
            <th>Total no of Failures for all devices</th>
            <th>Overall Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#uatRegressionTeamData}}
        <tr>
            <td><a href="#{{teams}}">{{teams}}</a></td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            <td>{{totalRun}}</td>
            <td>{{failedScenarios}}</td>
            <td>{{pr}}%</td>
        </tr>
        {{/uatRegressionTeamData}}
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Name</th>
            <th>Total Scenarios</th>
            <th>Scenarios Matching Criteria</th>
            <th>Actually Running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total Run</th>
            <th>Failures</th>
            <th>Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#uatRegressionTeamBreakdown.teamBreakdown}}
        <tr>
            <td id="{{teams}}">{{teams}}</td>
            <td>{{name}}</td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            {{#data}}
            <td>{{data.total}}</td>
            <td>{{data.failed}}</td>
            <td>{{data.pr}}%</td>
            {{/data}}
            {{^data}}
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            {{/data}}
        </tr>
        {{/uatRegressionTeamBreakdown.teamBreakdown}}
        </tbody>
    </table>

    <h5>Jobs Breakdown</h5>
    {{#jobs}}
    <h6>{{title}}</h6>
    <ul>
        <li>{{testrunnerReport}}
            {{^testrunnerDetailedFailuresAvailable}}
        </li>
        {{/testrunnerDetailedFailuresAvailable}}

        {{#testrunnerDetailedFailuresAvailable}}
        <li>Test Runner Failures:</li>
        <ul>
            {{#testrunnerDetailedFailures}}
            <li>{{.}}</li>
            {{/testrunnerDetailedFailures}}
        </ul>
        </li>
        {{/testrunnerDetailedFailuresAvailable}}
    </ul>
    {{/jobs}}

    {{/isWeeknightUATRegression}}

    {{#isCompatibility}}

    <h4>Compatibility Test Report</h4>

    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test Pass Percentage <span style="font-size: medium">({{totalScenariosExecuted}}/{{totalScenarios}})</span>  <span class="badge badge-primary float-right">{{scenarioSuccessRate.Compatibility}}%</span>
                    </h5>
                    <h5 class="card-title">Scenario(s) Executed  <span class="float-right lead">{{compatibilityTeamBreakdown.matchingScenariosNotManualAndNotPending}}</span>
                    </h5>
                    <h5 class="card-title">Total Automated Scenarios  <span class="float-right lead">{{compatibilityTeamBreakdown.automatedScenarios}}</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <h5 class="card-header">Execution Stability  <span class="badge badge-primary float-right">{{testrunnerSuccessRate.Compatibility}}%</span>
                </h5>
                <div class="card-body">
                    <h5 class="card-title">Tests Runners  <span class="float-right lead">{{totalRunnersExecuted}} of {{totalRunners}}</span>
                    </h5>
                    {{^isWeekend}}
                    <h5 class="card-title">Number of devices  <span class="float-right lead">{{devicesCount.weeknightCompatibilityDeviceCount.iOS}} IOS &amp; {{devicesCount.weeknightCompatibilityDeviceCount.Android}} Android</span>
                    </h5>
                    {{/isWeekend}}
                    {{#isWeekend}}
                    <h5 class="card-title">Number of devices  <span class="float-right lead">{{devicesCount.weekendDeviceCount.iOS}} IOS &amp; {{devicesCount.weekendDeviceCount.Android}} Android</span>
                    </h5>
                    {{/isWeekend}}
                    <h5 class="card-title">iOS Run Duration (Avg.)  <span class="float-right lead">{{iOSBuildDuration}}</span>
                    </h5>
                    <h5 class="card-title">Android Run Duration (Avg.)  <span class="float-right lead">{{androidBuildDuration}}</span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    {{#tagsLevelData.Compatibility.isPrimaryAvailable}}

    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Primary iOS
                    <span
                            class="badge badge-secondary  float-right ml-1">{{testrunnerSuccessRate.CompatibilityIos}}% TRS</span>
                    <span
                            class="badge badge-primary float-right ml-1">{{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}% SPR</span>
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityIos.scenarios.primary.fail}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityIos.scenarios.primary.fail}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityIos.scenarios.primary.fail}}%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Primary Android
                    <span
                            class="badge badge-secondary  float-right ml-1">{{testrunnerSuccessRate.CompatibilityAndroid}}% TRS</span>
                    <span
                            class="badge badge-primary float-right ml-1">{{tagsLevelData.CompatibilityAndroid.scenarios.primary.pass}}% SPR</span>
                </h5>


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityAndroid.scenarios.primary.pass}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityAndroid.scenarios.primary.pass}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityAndroid.scenarios.primary.pass}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityAndroid.scenarios.primary.fail}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityAndroid.scenarios.primary.fail}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityAndroid.scenarios.primary.fail}}%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    {{/tagsLevelData.Compatibility.isPrimaryAvailable}}

    {{#tagsLevelData.Compatibility.isSecondaryAvailable}}
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Secondary iOS
                    <span
                            class="badge badge-primary float-right ml-1">{{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}% SPR</span>
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityIos.scenarios.primary.pass}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityIos.scenarios.primary.fail}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityIos.scenarios.primary.fail}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityIos.scenarios.primary.fail}}%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Secondary Android
                    <span
                            class="badge badge-primary float-right ml-1">{{tagsLevelData.CompatibilityAndroid.scenarios.secondary.pass}}% SPR</span>
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityAndroid.scenarios.secondary.pass}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityAndroid.scenarios.secondary.pass}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityAndroid.scenarios.secondary.pass}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityAndroid.scenarios.secondary.fail}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityAndroid.scenarios.secondary.fail}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityAndroid.scenarios.secondary.fail}}%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{/tagsLevelData.Compatibility.isSecondaryAvailable}}

    {{#tagsLevelData.Compatibility.isOthersAvailable}}

    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Other iOS
                    <span
                            class="badge badge-primary float-right ml-1">{{tagsLevelData.CompatibilityIos.scenarios.others.pass}}% SPR</span>
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityIos.scenarios.others.pass}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityIos.scenarios.others.pass}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityIos.scenarios.others.pass}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityIos.scenarios.others.fail}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityIos.scenarios.others.fail}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityIos.scenarios.others.fail}}%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Other Android
                    <span
                            class="badge badge-primary float-right ml-1">{{tagsLevelData.CompatibilityAndroid.scenarios.others.pass}}% SPR</span>
                </h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Retail</h5>
                        <div><span>Scenarios</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityAndroid.scenarios.others.pass}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityAndroid.scenarios.others.pass}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityAndroid.scenarios.others.pass}}%
                                </div>
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: {{tagsLevelData.CompatibilityAndroid.scenarios.others.fail}}%"
                                     aria-valuenow="{{tagsLevelData.CompatibilityAndroid.scenarios.others.fail}}" aria-valuemin="0"
                                     aria-valuemax="100">{{tagsLevelData.CompatibilityAndroid.scenarios.others.fail}}%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{/tagsLevelData.Compatibility.isOthersAvailable}}

    <div style="margin-top: 10px">
        <h5>Team Breakdown</h5>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Total Scenarios</th>
            <th>Scenarios Matching Criteria</th>
            <th>Actually Running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total Run</th>
            <th>Failures</th>
            <th>Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#compatibilityTeamData}}
        <tr>
            <td><a href="#{{teams}}">{{teams}}</a></td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            <td>{{totalRun}}</td>
            <td>{{failedScenarios}}</td>
            <td>{{pr}}%</td>
        </tr>
        {{/compatibilityTeamData}}
        </tbody>
    </table>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr style='background-color: #D3D3D3'>
            <th>Teams</th>
            <th>Name</th>
            <th>Total Scenarios</th>
            <th>Scenarios Matching Criteria</th>
            <th>Actually Running**</th>
            <th>Pending Automation</th>
            <th>Manual</th>
            <th>Total Run</th>
            <th>Failures</th>
            <th>Pass Rate</th>
        </tr>
        </thead>
        <tbody>
        {{#compatibilityTeamBreakdown.teamBreakdown}}
        <tr>
            <td id="{{teams}}">{{teams}}</td>
            <td>{{name}}</td>
            <td>{{totalScenarios}}</td>
            <td>{{matchingScenarios}}</td>
            <td>{{automatedNotPendingScenarios}}</td>
            <td>{{pendingAutomatedScenarios}}</td>
            <td>{{manualScenarios}}</td>
            {{#data}}
            <td>{{data.total}}</td>
            <td>{{data.failed}}</td>
            <td>{{data.pr}}%</td>
            {{/data}}
            {{^data}}
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            {{/data}}
        </tr>
        {{/compatibilityTeamBreakdown.teamBreakdown}}
        </tbody>
    </table>

    <h5>Jobs Breakdown</h5>
    {{#jobs}}
    <h6>{{title}}</h6>
    <ul>
        <li>{{testrunnerReport}}
            {{^testrunnerDetailedFailuresAvailable}}
        </li>
        {{/testrunnerDetailedFailuresAvailable}}

        {{#testrunnerDetailedFailuresAvailable}}
        <li>Test Runner Failures:</li>
        <ul>
            {{#testrunnerDetailedFailures}}
            <li>{{.}}</li>
            {{/testrunnerDetailedFailures}}
        </ul>
        </li>
        {{/testrunnerDetailedFailuresAvailable}}
    </ul>
    {{/jobs}}

    {{/isCompatibility}}

    <div class="p-3 mb-2 bg-info text-white">

        <ul class="list-unstyled" style='margin-top:5px'>
            <li>Please, don't reply to this email, you will only be disappointed by the lack of response.</li>
            <li>This report is maintained by the platform team.</li>
            <li>*Reports cannot be viewed properly in IE. If you can work out why, please tell us.</li>
            <li>**Automated and not pending</li>
        </ul>

    </div>
</div>
</body>
</html>
