/** @define PlpContainer; weak */

.PlpContainer {
  width: 100%;
  overflow-x: hidden;

  &-pagination {
    padding: 10px;
    height: 50px;
    margin-top: -30px;
    display: none;
  }

  &-paginationPrev {
    display: none;
    color: $black;
    &.is-shown {
      display: block;
      float: left;
    }
  }

  &-paginationNext {
    display: none;
    color: $black;
    &.is-shown {
      display: block;
      float: right;
    }
  }

  &-resultsSection {
    display: flex;
  }

  &-refinementListContainer {
    display: none;
    flex: 0 0 200px;
    overflow: hidden;
  }

  &-productListContainer {
    flex: 1;
  }

  &-refineByTitle {
    margin: 15px;
  }

   & .CmsFrame {
    margin-bottom: $plp-container-margin-bottom;
  }
}

@media $min-tablet {
  .PlpContainer {
    max-width: $laptop-end-width;
    margin: 0 auto;
    &-refinementListContainer {
      display: block;
    }
  }
}

/* postcss-bem-linter: ignore */
.nojs .PlpContainer-pagination {
  display: block;
}
