/** @define GeoIP */
.GeoIP {
  text-align: center;
  font-size: 16px;
  color: #000000;

  &-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &-info {
    margin-bottom: 30px;
  }

  &-redirectURL {
    background-color: #000000;
    color: #fff;
    width: 100%;
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: none;
    margin: 0 0 30px;
  }

  &-remain {
    border: 1px solid #bbbbbb;
    width: 100%;
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: none;
    margin: 0 0 30px;
  }

  &-footnote {
    color: #9b9b9b;
  }
}

@media $min-tablet {
  .GeoIP {
    &-title {
      text-align: left;
    }

    &-info {
      text-align: left;
    }

    &-footnote {
      text-align: left;
    }
  }
}
