/** @define ProductDescription; weak */
.ProductDescription {
  & ul {
   padding-left: 15px;
  }
}

@media $min-tablet {

  .ProductDescription {
    text-align: center;

    &-title {
      font-size: 22px;
      font-weight: normal;
      text-transform: uppercase;
    }

    &-productDetailText {
      font-size: 13px;
      margin: 0 auto;
    }

    & ul {
      padding-left: 0;
    }

    & li {
      list-style-position: inside;
      padding-left: 0;
    }
  }
}
