/** @define ProductDescription; weak */

@media $min-tablet {
  .ProductDescription {
    padding: 50px;
    background-color: #f7f8f8;

    &::before {
      border-style: solid;
      border-width: 50px 50px 0 0;
      border-color: #ffffff transparent transparent transparent;
      margin-top: -50px;
      margin-left: -50px;
      content: '';
    }

    &-productDetails {
      max-width: 500px;
      margin-top: -10px;
      margin-left: 10px;
    }

    &-title {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      border-bottom: dashed 0.5px #DADAD9;
      padding-bottom: 15px;
    }
  }
}
