/** @define ProductDescription; weak */

.ProductDescription {
  margin-top: 30px;
  font-family: $pdp-product-detail-font-family;
  line-height: $pdp-product-detail-line-height;

  text-align: left;

  &-title {
    display: none;

    &--seeMore {
     display: block;
    }
  }

  &-list {
    margin: 0;
    list-style-type: disc;
    padding-left: 20px;
  }

  & ul {
    margin-left: 2px;
    padding-left: 15px;
  }

  & li {
    padding-left: 5px;
  }
}

@media $min-tablet {
  .ProductDescription {
    display: flex;
    margin-top: 20px;

    &--bundle {
      margin-top: 10px;
    }

    &-productDetails {
       width: 100%;
    }

    &-productDetailText {
      max-width: 700px;
    }

    &-title {
      display: block;
    }

    &-seeMore {
      width: 40%;
      margin-left: 20px;
    }
  }
}
