/** @define ProductDescription; weak */

.ProductDescription {
  margin-bottom: 20px;
}

@media $min-tablet {
  .ProductDescription {
    &-title {
      font-size: 15px;
      line-height: 1.2;
    }

    &-productDetailText {
      font-size: 13px;
      line-height: 1.38;
    }

    & ul {
      padding-left: 10px;
    }
  }
}
