/** @define DeliveryMethod */

.DeliveryMethod {
  $border: 1px solid $accordion-border-color;
  border-top: $border;

  &:last-child {
     border-bottom: $border;
  }

  &-description {
     font-size: $checkout-delivery-method-description-font-size;
  }

  &--disabled {
    & .DeliveryMethod-price, & .DeliveryMethod-description, & .DeliveryMethod-label {
      color: $radio-input-inactive-label-font-color;
    }
  }
}

@media $min-tablet {
  .DeliveryMethod {
    padding: $checkout-content-padding 0;

    &-price {
       font-weight: lighter;
    }
  }
}
