/** @define AddressFormDetails */

.AddressFormDetails {
  border: none;
  padding: 0;

  &-header {
    padding-bottom: 15px;
  }

  &-headerText {
    margin: 0;
  }

  &--storeDelivery {
    padding-top: 15px;
  }

  &-titleRow {
    & .AddressFormDetails-col {
      display: none;
    }
  }
}

@media $min-laptop {
  .AddressFormDetails {
    &--multiColumn {
      & .AddressFormDetails {
        &-row {
          display: flex;
        }

        &-title {
          flex: 1;
        }

        &-col {
          flex: 1;
        }

        &-firstName,
        &-lastName,
        &-telephone {
          flex: 1;
        }

        &-telephoneRow,
        &-telephone {
          display: none;
        }

        &-titleRow {
          & .AddressFormDetails-col {
            display: block;
          }
        }

        &--storeDelivery {
          & .AddressFormDetails {
            &-telephoneRow {
              display: flex;
            }

            &-telephone {
              display: block;
            }
          }
        }

        &-title,
        &-firstName,
        &-telephone {
          margin-right: $left-col-margin;
        }

        &-col,
        &-lastName {
          margin-left: $right-col-margin;
        }
      }
    }
  }
}
