/** @define SizeGuide; weak */

@media $min-tablet {
  .SizeGuide {
    &--box {
      position: absolute;
      bottom: -40px;
      right: 0;
      width: auto;
      padding: 0;
      z-index: 1;

      & .SizeGuide-link {
        height: auto;
        white-space: nowrap;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        font-style: italic;
        text-transform: none;
        text-decoration: underline;
      }

      & .SizeGuide-label {
        letter-spacing: normal;
      }
    }

    &--bundles {
      & .SizeGuide-label {
        font-style: italic;
        letter-spacing: normal;
        text-decoration: underline;
      }
    }

    &-icon {
      display: none;
    }
  }
}
