/** @define SizeGuide */

@media $min-tablet {
  .SizeGuide {
    &--pdp {
      width: 100%;
      padding: 0;

      & .SizeGuide-link {
        z-index: 1;
        height: auto;
        border-top: none;
        border-left: none;
        border-right: none;
        display: inline-block;
        padding: 0;
        line-height: 9px;
        text-transform: capitalize;
        font-size: 12px;
        color: #232323;
        position: absolute;
        bottom: 20px;
        right: 0;
      }
    }
  }
}
