/** @define SizeGuide; weak */

.SizeGuide {
  &--box {
    width: auto;
    display: inline-block;
    & .SizeGuide {
      &-link {
        height: auto;
        padding: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        text-transform: none;
        margin-top: 20px;
      }
    }
  }
}

@media $min-tablet {
  .SizeGuide {
    text-align: left;
    &-label {
      font-size: 15px;
      color: #000;
      font-weight: 300;
    }
  }
}