/** @define UserLocatorInput */

.UserLocatorInput {
  &-label {
    display: none;
  }

  &-inputContainer {
    position: relative;
    display: flex;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s ease;
    &.is-visible {
      visibility: visible;
      height: $user-locator-height;
      margin-top: $user-locator-margin-top;
    }
    &.is-predictionsListOpen {
      overflow: visible;
    }
  }
  &-predictionsList {
    position: absolute;
    width: 100%;
    top: $user-locator-height;
    left: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }
  &-predictionsListItem {
    border: solid $lt-gray;
    border-width: 0 1px 1px 1px;
    background-color: $white;
    box-sizing: border-box;
    line-height: 2.8;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
  }
  &-queryInput {
    position: relative;
    flex-basis: $user-locator-input-width;
    font-weight: $user-locator-input-font-weight;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    height: 100%;
    outline: 0;
    overflow: hidden;
  }
  &-inputField {
    width: 100%;
    height: 100%;
    outline: 0;
    font-size: $font-size-input;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-appearance: none;
    padding: 0 calc($user-locator-icon-offset-right * 2 + $user-locator-icon-size) 0 $user-locator-icon-padding-left;
    box-sizing: border-box;
    border: solid $user-locator-input-border-color $user-locator-input-border-width;
    border-radius: $input-border-radius 0 0 $input-border-radius;
    border-right: none;
    &:active, &:focus {
      border-color: $user-locator-input-border-focus-color;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  &-rightIcon {
    position: absolute;
    top: 50%;
    height: 100%;
    right: $user-locator-icon-offset-right;
    transform: translateY(-50%);
    width: $user-locator-icon-size;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $user-locator-icon-background-size;
    &.is-pending {
      background-image: url('public/common/images/loading-bars.svg');
    }
  }
  &-clearButton {
    background-image: url('public/$brand/images/location-clear-icon.svg');
  }
  &-currentLocationButton {
    display: none;
    background-image: url('public/$brand/images/location-icon.svg');
  }
}
