/** @define SignIn */

.SignIn {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 1199px;
  margin: 0 auto;
}

@media $min-tablet {
  .SignIn {
    flex-direction: row;
    margin-bottom: 0;

    &-registerSection {
      flex: 1;
      margin-right: 20px;
    }
    &-loginSection {
      flex: 1;
      margin-left: 20px;
    }

  }
}
