/** @define Drawer */

.Drawer {
  position: fixed;
  top: 0;
  width: 80%;
  /* fallback if doesnt support vw */

  width: 80vw;
  height: 100%;
  overflow: hidden;
  background: $mini-bag-background-color;
  border-left: $mini-bag-border-width solid $mini-bag-border-color;
  transition: transform 0.5s;
  transform: translateX(125%);
  z-index: 4;
  box-sizing: border-box;

  &.is-scrollable {
    overflow-y: scroll;
  }

  &.is-open {
    box-shadow: -6px 0 $mini-bag-shadow-strength $mini-bag-shadow-color;
    transform: translateX(25%);
  }
}

@media $min-tablet {
  .Drawer {
    right: 0;
    width: $mini-bag-width-min-tablet;
    transform: translateX(100%);
    &.is-open {
      transform: translateX(0%);
    }
  }
}
