/** @define BlogFeed */

$cl-sand: #d9d2ca;
$cl-border-gray: #AEAEAE;

.BlogFeed {
  background: $cl-sand;
  padding: 10px 10px 50px;
  border-top: 2px solid $cl-border-gray;
  position: relative;

  &-blogPost {
    background-color: #fff;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    padding-bottom: 15px;
  }

  &-blogImage {
    display: block;
    margin: 0 -10px;
    /*height: 180px;*/
    width: calc(100% + 20px);
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }

  &-blogText {
    font-size: 14px;
    letter-spacing: 0.050em;
    line-height: 18px;
    color: #232323;
  }

  &-blogLink {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125em;
    letter-spacing: 0.085em;
  }

  &-blogTitle {
    font-weight: bold;
    color: #232323;
    margin-bottom: 5px;
  }

  &-origin, &-title {
    text-transform: uppercase;
  }

  &-origin {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.085em;
    color: #232323;
    margin: 0 0 10px 0;
  }

  &-readMoreIcon, &-blogIcon {
    height: 18px;
    width: 18px;
  }

  &-readMoreIcon {
    height: 14px;
    vertical-align: middle;
  }

  &-readMorePosts {
    position: absolute;
    height: 42px;
    width: 42px;
    right: 30px;
    bottom: 37px;
    background: white;
    border-radius: 50%;
  }
}
