/** @define AddressPreview */

.AddressPreview {
  position: relative;
  padding-left: 50px;
  background: url('public/$brand/images/checkout-home.svg') 0 0/40px auto no-repeat;
  margin-top: $checkout-content-padding;
  margin-bottom: $checkout-content-padding;

  @media $min-laptop {
    padding-right: 100px;
  }

  &-header {
    margin: 0;
    font-family: Interstate, sans-serif;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: normal;
  }

  &-detailsTerm {
    /* NOTE: visually hidden, if used elsewhere should be moved into utility class */
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }

  &-detailsDescription {
    margin: 0;
     font-family: $font-family-p;
     font-size: $font-size-p;
     line-height: $line-height-p;
     font-weight: $font-weight-p;
     text-transform: $text-transform-p;
     color: $font-color-p;
     letter-spacing: $letter-spacing-p;
  }

  &-button {
    width: auto;
    margin-top: 10px;

    @media $min-laptop {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-top: 0;
    }
  }
}
