/** @define CheckoutTitle */

.CheckoutTitle {
  font-family: $font-family-h3;
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
  line-height: $line-height-h3;
  padding: $checkout-separator-height 0;

  &--separator {
     border-bottom: $checkout-divider-width solid $checkout-divider-color;
  }
}
