/** @define StoreDeliveryContainer; weak */

.StoreDeliveryContainer-title {
  margin: 0;
  font-size: 14px;
}

.StoreDeliveryContainer-mobileTitleContainer{
  padding-top: 15px;
  margin-bottom: 12px;
}

.StoreDeliveryContainer-desktopTitleContainer {
  margin-bottom: 15px;
  border-bottom: 1px solid $ex-lt-gray;
  padding: 15px 0;
}

.StoreDeliveryContainer-desktopTitle {
  font-size: 16px;
}

.StoreDeliveryContainer-address {
  padding-bottom: $checkout-separator-height;
}

.StoreDeliveryContainer-addressLine {
  margin: 0;
}

.StoreDeliveryContainer-changeStoreLinkContainer {
  margin-top: 20px;
}

.StoreDeliveryContainer-changeStoreBtnContainer {
  margin-top: 15px;
}

.StoreDeliveryContainer-changeStoreBtn {
  width: auto;
  padding: 0 20px;
}
