/** @define ForgetPassword */

.ForgetPassword {
  margin-top: 10px;

  &-form {
    padding: 0 $page-padding 10px;
  }
}

@media $min-tablet {
  .ForgetPassword {
    &--signin {
      padding: 0 $page-padding;
      & .ForgetPassword {
        &-form {
          padding: 0;
        }
      }
    }
  }
}

@media $min-laptop {
  .ForgetPassword {
    &--signin {
      & .ForgetPassword {
        &-accordion {
          width: 60%;
        }
      }
    }
  }
}
