/** @define Swatch */

$SwatchSizeMobile: 22px;
$SwatchSizeDesktop: 28px;
$SwatchMarginMobile: 0 6px;
$SwatchMarginDesktop: 0 10px;

.Swatch {
  margin: $SwatchMarginMobile;
  position: relative;
  box-sizing: border-box;
  width: $SwatchSizeMobile;
  height: $SwatchSizeMobile;
  border-radius: $plp-product-swatch-radius;
  transform: translate3d(0, 0, 0);

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: $plp-product-swatch-radius;
    pointer-events: none;
    transition: all 0.2s ease-out;
    transform: scale3d(1.05, 1.05, 1);
  }

  &.is-selected {
    &:after {
      border: solid 1px rgba(0, 0, 0, 1);
      transform: scale3d(1.2, 1.2, 1);
    }
  }

  &-link {
    box-sizing: border-box;
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: $plp-product-swatch-radius;
  }

  &--pdp {
    margin: 0;
  }

  &-linkImage {
    width: 44px;
    height: 44px;
    position: relative;
    top: -8px;
    left: -8px;
    user-select: none;
  }
}

@media $min-tablet {
  .Swatch {
    &--pdp {
      margin: 0;
      width: $SwatchSizeDesktop;
      height: $SwatchSizeDesktop;
    }
  }
}

@media $desktop {
  .Swatch {
    margin: $SwatchMarginDesktop;
    width: $SwatchSizeDesktop;
    height: $SwatchSizeDesktop;
  }
}
