/** @define Register */

.Register {
  box-sizing: border-box;
  margin-top: 28px;
  padding: 0 $page-padding;
}

@media $min-tablet {
  .Register {
    &--signin {
      & .Register {
        &-header {
          border-bottom: 1px solid $signin-title-border-color;
          padding-bottom: 20px;
        }
      }
    }
  }
}

@media $min-laptop {
  .Register {
    &--signin {
      & .Register {
        &-form {
          width: 60%;
        }
      }
    }
  }
}
