/** @define LoginContainer */
.LoginContainer {
  margin-bottom: 10px;
}

@media $min-tablet {
  .LoginContainer {
    display: flex;

    &-loginSection,
    &-newUserSection {
      flex: 1;
    }
  }
}
