/** @define FindInStoreButton; weak */

.FindInStoreButton {
  margin-left: 10px;

  &-desktop {
    display: none;
  }

}

@media $min-tablet {
  .FindInStoreButton {
    display: none;

    &-desktop {
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85em;
      margin-top: 15px;
      margin-bottom: 15px;
      cursor: pointer;
    }
    &-desktopWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-desktopWrapper::before {
      content: '';
      background-image: url('public/$brand/images/findinstore-button-icon.svg');
      background-repeat: no-repeat;
      background-position: 0 50%;
      width: 16px;
      height: 25px;
      margin: 10px;
      cursor: pointer;
      margin-bottom: 15px;
    }
    &-desktop:focus {
      outline: 0;
    }
  }
}
