/** @define FindInStoreButton */

.FindInStoreButton {
    margin-top: 10px;
}

@media $min-tablet {
  .FindInStoreButton {
    &-desktop {
      border: solid 1px #bbbbbb;
      font-size: 16px;
    }

    &-desktopWrapper::before {
      display: none;
    }
  }
}
