/** @define HistoryDetailsContainer */

.HistoryDetailsContainer {
  &-header {
    margin: 14px 0;
    padding: 0 $page-padding;
    display: flex;
  }
  &-headerCol {
    display: flex;
    flex-direction: column;
  }
  &-orderNumberLabel {
    line-height: 1.75;
    margin: 0 30px 0 20px;
  }
  &-orderNumber {
    line-height: 1.75;
    margin: 0;
  }
  &-orderStatusLabel {
    line-height: 1.75;
    margin: 0 30px 0 20px;
  }
  &-orderStatus {
    line-height: 1.75;
    margin: 0;
  }
  &-notFound {
    text-align: center;
    padding: 1em $page-padding;
  }
}

@media $min-tablet {
  .HistoryDetailsContainer {
    &-header {
      border-bottom: none;
    }
    &-list {
      display: table;
      border-collapse: collapse;
      width: 100%;
    }
  }
}
