/** @define OrderHistoryDetailsSummary */

.OrderHistoryDetailsSummary {
  padding: 15px $page-padding 15px;
  border-top: 1px solid $myaccount-border-color;

  display: flex;
  flex-direction: column;

  &-prices {
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
}

@media $min-tablet {
  .OrderHistoryDetailsSummary {
    border-top: none;
    align-items: flex-end;
    &-prices {
      width: 40%;
      padding: 0 $page-padding;
    }
  }
}
