/** @define OrderHistoryDetailsPayment */

.OrderHistoryDetailsPayment {
  border-bottom: 1px solid $myaccount-border-color;
  padding: 0 $page-padding 15px;

  &-label, &-cardNumber {
    margin: 0;
  }

  &-body {
    display: flex;
  }

  &-icon {
    margin: 3.5px 25px 0 10px;
    width: 30px;
    align-self: flex-start;
  }

  &-type {
    margin: 0 0 5px 0;
  }

  &-label {
    margin-bottom: 10px;
  }
}

@media $min-tablet {
  .OrderHistoryDetailsPayment {
    border-bottom: none;
    &-title {
      display: none;
    }
    &-label, &-cardNumber {
      display: inline-block;
      margin-right: 15px;
    }
  }
}
