/** @define CookieMessage */

.CookieMessage {
  align-items: center;
  background-color: #ffffff;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 10000000000;
  flex-direction: column;

  &--show {
    display: flex;
    animation: slide-up 0.5s ease-out;
  }

  &-content {
    padding: 10px;
    font-family: Helvetica;
    font-size: 12px;
    color: #000000;
    width: 100%;
    width: auto;
  }

  &-button {
    width: 200px;
    padding: 0 0 10px 0;
  }
}

@media $min-laptop {
  .CookieMessage {
    flex-direction: row;

    &-content {
      padding: 10px 0;
    }

    &-button {
      padding: 10px 0;
      margin-left: 10px;
    }
  }
}

@keyframes slide-up {
  /* postcss-bem-linter: ignore */
  0% { transform: translate3d(0, 100%, 0)}
  /* postcss-bem-linter: ignore */
  100% { transform: translate3d(0, 0%, 0)}
}
