/** @define CountDown */

.CountDown {
  background-color: #232323;
  color: #e6e6dd;
  padding: 5px;
  text-align: center;

  &-title {
    font-family: Platform, sans-serif;
    letter-spacing: 0.085em;
    text-transform: uppercase;
  }

  &-timer {
    display: inline-block;
    text-transform: uppercase;
    font-family: Platform, sans-serif;
    letter-spacing: 0.085em;
  }

  &-findOut {
    margin-top: 3px;
  }

  &-link {
    font-family: Platform, sans-serif;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    font-size: 12px;
    color: #e6e6dd;
    text-decoration: inherit;
  }

  &-arrow {
    height: 14px;
    vertical-align: middle;
  }
}
