/** @define EmptyWishlist */
.EmptyWishlist {
  padding: 20px 10px;

  &-wishlistIcon {
    background-image: $wishlist-header-icon;
    background-repeat: no-repeat;
    background-size: contain;
    height: 18px;
    width: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
  }

  &-continueButton {
    margin: 15px auto;
    max-width: 250px;
  }

  &-signInButton {
    text-transform: uppercase;
    text-decoration: underline;
  }
}
