/** @define WishlistLimitInfo */

.WishlistLimitInfo {
  &-container {
    width: 100%;
    max-width: 404px;
    padding: 9px 14px 14px 14px;
    border: 1px solid #000;
    margin: 0 auto 97px;
    display: block;
  }

  &-text {

  }
}
