/** @define ProductSizes; weak */

@media $min-tablet {
  .ProductSizes {
    &--pdp {
      & .ProductSizes {
        &-button {
          padding: 0 3px;
          margin-bottom: 20px;
        }
        &-item {
          border: 1px solid #d0d0d0;
          height: 30px;
          &.is-active {
            border: none;
            background: #333;
          }
        }
      }
    }
  }
}