/** @define ProductSizes */

@media $min-tablet {
  .ProductSizes {
    &--sizeGuideBox {
      width: 100%;
    }

    &--pdp {
      & .ProductSizes {
        &-item {
          font-size: 12px;
          border: 1px solid #909090;
          &:hover {
            border: 1px solid #000;
          }
          &.is-active {
            border: 1px solid #909090;
            background: #ddd;
          }
        }
      }
    }
  }
}
