/** @define ProductSizes */

@media $min-tablet {
  .ProductSizes {
    &--sizeGuideBox {
      border-color: #a4a4a4a4;
      border-style: solid;
      border-width: 1px 0 1px 0;
      padding: 10px;
      width: 100%;
    }

    &--pdp {
      & .ProductSizes {
        &-button {
          flex: 1;
        }

        &-item {
          border-color: transparent;
          font-size: 16px;
          height: 45px;
          width: 45px;
          margin: auto;
        }

        &-item:hover {
          background-color: #dedede;
          border-color: #dedede;
        }

        &-item.is-active,
        &-item.is-active:hover {
          background-color: #4c4f4f;
          border-color: #4c4f4f;
          font-weight: lighter;
        }

        &-item.is-outOfStock,
        &-item.is-outOfStock:hover {
          border-color: transparent;
          background-color: transparent;
          color: #4f4f4f;
          text-decoration: line-through;
        }

        &-item.is-outOfStock::after {
          display: none;
        }
      }
    }
  }
}
