/** @define DeliveryOptions; weak */

.DeliveryOptions {
  padding-bottom: $checkout-separator-height;

  & .DeliveryOption {
    border-top: $border;

    &:last-child {
      border-bottom: $border;
    }

    &-content {
      display: block;
      background: none 0 0/20px auto no-repeat;
    }

    &--home .DeliveryOption-content {
      background-image: url('public/$brand/images/lorry-icon.svg')
    }

    &--store .DeliveryOption-content {
      background-image: url('public/$brand/images/cfs.svg')
    }

    &--parcelshop .DeliveryOption-content {
      background-image: url('public/$brand/images/hermes-icon.svg')
    }

    &-title {
      display: block;
      font-weight: $checkout-delivery-title-font-weight;
      margin-bottom: 5px;
      padding-left: 25px;
    }

    &-description,
    &-additionalDescription {
      display: block;
      font-weight: $checkout-delivery-option-font-weight;
    }
  }
}

@media $min-tablet {
  .DeliveryOptions {
    & .DeliveryOption {
      &-title {
        font-size: 0.95em;
        padding-left: 0;
        background-image: none;
      }

      &-content {
        padding: $checkout-delivery-padding-vertical-min-tablet 0 $checkout-delivery-padding-vertical-min-tablet 75px;
        background-position: 15px center;
        background-size: 40px;
      }
    }
  }
}
