/** @define StoreDeliveryV2 */

.StoreDeliveryV2 {
  margin: 0;
  padding: 0;
  border: none;
  &-storeAddress {
    padding: $checkout-content-padding 0;
  }
  &-storeAddressLine {
    margin: 0;
  }
  &-collectFromTitle {
    border-bottom: 1px solid $lt-gray;
    padding-bottom: 15px;
  }
  &-changeStoreCTA {
    width: auto;
    padding: 0 20px;
    margin-bottom: 0;
  }
  &-storeInfo {
   padding-bottom: $checkout-separator-height;
  }
}
