@font-face {
  font-family: AvenirNext;
  src: url('public/common/fonts/AvenirNext/AvenirNextW01Light.woff2') format('woff2'),
       url('public/common/fonts/AvenirNext/AvenirNextW01Light.woff') format('woff'),
       url('public/common/fonts/AvenirNext/AvenirNextW01Light.ttf') format('ttf');

  font-weight: 200;
}

@font-face {
  font-family: AvenirNext;
  src: url('public/common/fonts/AvenirNext/AvenirNextLTW01-Medium.woff2') format('woff2'),
       url('public/common/fonts/AvenirNext/AvenirNextLTW01-Medium.woff') format('woff'),
       url('public/common/fonts/AvenirNext/AvenirNextLTW01-Medium.ttf') format('ttf');
}
