@font-face {
  font-family: Interstate;
  src: url('public/common/fonts/Interstate/Interstate-Light.woff') format('woff'),
       url('public/common/fonts/Interstate/Interstate-Light.ttf') format('ttf');
  font-weight: 200;
}

@font-face {
  font-family: "Interstate-Light";
  src: url('public/common/fonts/Interstate/Interstate-Light.woff') format('woff'),
       url('public/common/fonts/Interstate/Interstate-Light.ttf') format('ttf');
}

@font-face {
  font-family: Interstate;
  src: url('public/common/fonts/Interstate/Interstate.woff') format('woff'),
       url('public/common/fonts/Interstate/Interstate.ttf') format('ttf');
}

@font-face {
  font-family: Interstate;
  src: url('public/common/fonts/Interstate/Interstate-Bold.woff') format('woff'),
       url('public/common/fonts/Interstate/Interstate-Bold.ttf') format('ttf');
  font-weight: bold;
}
