@font-face {
  font-family: Montserrat;
  src: url('public/common/fonts/Montserrat/Montserrat-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: url('public/common/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat;
  src: url('public/common/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}
