/* http://www.webtype.com/info/articles/fonts-weights/ */

@font-face {
  font-family: Platform;
  src: url('public/common/fonts/Platform/Platform-Regular.woff') format('woff'),
  url('public/common/fonts/Platform/Platform-Regular.ttf') format('ttf');
  font-weight: normal;
  line-spacing: 0.1em;
}

@font-face {
  font-family: "Platform-Medium";
  src: url('public/common/fonts/Platform/Platform-Medium.woff') format('woff'),
       url('public/common/fonts/Platform/Platform-Medium.ttf') format('ttf');
}

@font-face {
  font-family: Platform;
  src: url('public/common/fonts/Platform/Platform-Medium.woff') format('woff'),
       url('public/common/fonts/Platform/Platform-Medium.ttf') format('ttf');
  font-weight: 500;
  line-spacing: 0.1em;
}

@font-face {
  font-family: Platform;
  src: url('public/common/fonts/Platform/Platform-Light.woff') format('woff'),
  url('public/common/fonts/Platform/Platform-Light.ttf') format('ttf');
  font-weight: 200;
  line-spacing: 0.1em;
}

@font-face {
  font-family: Platform;
  src: url('public/common/fonts/Platform/Platform-Bold.woff') format('woff'),
  url('public/common/fonts/Platform/Platform-Bold.ttf') format('ttf');
  font-weight: bold;
  line-spacing: 0.1em;
}
