@font-face {
  font-family: Poppins;
  src: url('public/common/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url('public/common/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url('public/common/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}
