@font-face {
  font-family: Roboto;
  src: url('public/common/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url('public/common/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url('public/common/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('public/common/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}
