@font-face {
  font-family: SourceSansPro;
  src: url('public/common/fonts/SourceSansPro/SourceSansPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: SourceSansPro;
  src: url('public/common/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: SourceSansPro;
  src: url('public/common/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}
