/** @define AddressBook */

.AddressBook {
  border-bottom: 1px solid #F8F8F8;

  &-title {
    letter-spacing: 0;
    font-weight: 500;
    margin: 0;
    padding: 15px 0;
  }

  &-ddpNotice {
    margin-top: 0;
  }

  &-addNew {
    display: inline-block;
    margin: 10px 0 15px 0;
  }
}
