/** @define AddToBag; weak */

.AddToBag {
  & .Button {
    text-transform: $add-to-bag-button-text-transform;
    background-color: $add-to-bag-button-background-color;
    border-color: $add-to-bag-button-border-color;
    color: $add-to-bag-button-font-color;
    &.is-active {
      background-color: $add-to-bag-button-is-active-background-color;
      border-color: $add-to-bag-button-is-active-border-color;
      color: $add-to-bag-button-is-active-font-color;
    }
  }

}

@media $min-laptop {
  .AddToBag {
    & .Button {
      &:enabled:hover {
        background: $add-to-bag-button-hover-background-color;
        border-color: $add-to-bag-button-hover-border-color;
        color: $add-to-bag-button-hover-font-color;
      }
      &.is-active {
        &:enabled:hover {
          background: $add-to-bag-button-is-active-hover-background-color;
          border-color: $add-to-bag-button-is-active-hover-border-color;
          color: $add-to-bag-button-is-active-hover-font-color;
        }
      }
    }
  }
}

/* postcss-bem-linter: ignore */
.no-touch .AddToBag .Button:enabled:hover {
  background: $add-to-bag-button-hover-background-color;
  border-color: $add-to-bag-button-hover-border-color;
  color: $add-to-bag-button-hover-font-color;
}

/* postcss-bem-linter: ignore */
.no-touch .AddToBag .Button.is-active:enabled:hover {
  background: $add-to-bag-button-is-active-hover-background-color;
  border-color: $add-to-bag-button-is-active-hover-border-color;
  color: $add-to-bag-button-is-active-hover-font-color;
}
