/** @define NoSearchResults */
.NoSearchResults {
  padding: $plp-no-results-padding;
  max-width: 100vw;

  &-clearfilters {
    width: $plp-no-results-clear-filters-width;
    padding: $plp-no-results-clear-filters-padding;
    border: $plp-no-results-clear-filters-border;
    text-decoration: $plp-no-results-clear-filters-decoration;
    text-transform: $plp-no-results-clear-filters-text-transform;
    text-align: $plp-no-results-clear-filters-text-align;
    font-weight: $plp-no-results-clear-filters-font-weight;
    font-size: $plp-no-results-clear-filters-font-size;
    letter-spacing: $plp-no-results-clear-filters-letter-spacing;

    &:before {
      content: $plp-no-results-clear-filters-before-content;
      margin-right: $plp-no-results-clear-filters-before-margin-right;
      margin-left: $plp-no-results-clear-filters-before-margin-left;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-errorImage {
    display: $plp-no-results-error-image-display;
    width: $plp-no-results-error-image-size;
    margin: 0 auto;
  }

  &-message {
    text-align: $plp-no-results-message-text-align;
    font-weight: $plp-no-results-message-font-weight;
    margin-bottom: $plp-no-results-message-margin-bottom;
    padding: $plp-no-results-message-padding;
  }

  &--filterType {
    padding-top: $plp-no-results-filter-type-padding-top;

    & .NoSearchResults-message {
      text-align: $plp-no-results-filter-type-text-align;
      padding: $plp-no-results-filter-type-message-padding;
    }


    & .NoSearchResults-errorImage {
      display: $plp-no-results-filter-type-error-image-display;
    }
  }
}

@media $min-tablet {
  .NoSearchResults {
    width:50%;
    margin: 0 auto;
  }
}

@media $min-laptop {
  .NoSearchResults {
    width: 45%;
  }
}