/** @define ProductQuantity; weak */

.ProductQuantity {
  & .Select--inlineLabel .Select-label {
    text-transform: uppercase;
  }
}

@media $min-tablet {
  .ProductQuantity {
    &-selectContainer {
      width: 75px;
      max-width: 75px;
    }
    & .Select.is-disabled .Select-select {
      background: #fff;
    }
  }
}
