/** @define SimpleTotals */

.SimpleTotals {
  background-color: $checkout-bag-side-simple-total-background-color;
  border-top: $checkout-bag-side-simple-total-border-top;
  padding: 0 $checkout-bag-side-padding-horizontal;

  &-section {
    padding: $checkout-bag-side-simple-total-section-padding-vertical 0;
    font-size: $checkout-bag-side-simple-total-section-font-size;
    border-bottom: $checkout-bag-side-simple-total-border-bottom;
    display: flex;

    &.is-borderless {
      border-bottom: none;
    }
  }

  &-groupLeft {
    flex: 2;
    display: flex;
    justify-content: flex-start;
  }
  &-groupRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  &-total {
    font-size: $checkout-bag-side-total-font-size;
    font-weight: $checkout-bag-side-total-font-weight;
  }
  &-discount {
    color: $mini-bag-promocode-confirmed-text-color;
  }
}
