/** @define PaymentContainer */

.PaymentContainer {
  padding-top: 0;
  &--v2 {
     padding-top: $checkout-separator-height;
     margin: $checkout-container-margin-vertical $page-padding;
  }
  &-sectionWrapper {
    padding-bottom: $checkout-separator-height;
  }
  &-location {
    &--options {
      margin-top: $checkout-elements-margin-top;
    }
  }
  &-checkbox {
    margin-top: $checkout-elements-margin-top;
  }

  &-description {
    margin: $checkout-elements-margin-top 0;
    padding: $checkout-description-padding 0;
  }

  &-content {
    padding-top: 0;
  }

  &-espot1 {
    margin-top: 15px;
  }
}

@media $min-tablet {
  .PaymentContainer {
    &--v2 {
     padding-top: 1px;
    }
  }
}
