/** @define TabTitle */

$cl-dk-gray: #313132;
$cl-white: #ffffff;
$cl-sand: #d9d2ca;
$cl-border-gray: #AEAEAE;

.TabTitle {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  margin-top: -35px;

  &-text {
    display: inline-block;
    letter-spacing: 0.085em;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    margin: 0;
    padding: 8px 20px;
    box-sizing: border-box;
    height: 30px;
    border: 2px solid $cl-white;
    border-bottom: none;

    &:after {
      content: '';
      display: block;
      width: calc(100% + 40px);
      height: 8px;
      margin-left: -20px;
    }
  }

  &-icon {
    height: 14px;
    width: 16px;
    margin-right: 5px;
  }

  &--showspace {
    color: $cl-dk-gray;
    background-color: $cl-sand;
    border-color: $cl-white;

    &:after {
      background: $cl-sand;
    }
  }

  &--blog {
    color: $cl-dk-gray;
    background-color: $cl-sand;
    border-color: $cl-border-gray;

    &:after {
      background: $cl-sand;
    }
  }

  &--social {
    background: $cl-white;
    border-color: $cl-border-gray;
  }

  &--newsletter {
    background: $cl-dk-gray;
    color: $cl-white;
    border-color: $cl-white;

    &:after {
      background: $cl-dk-gray;
    }
  }

  &--topstories {
    background: $cl-dk-gray;
    color: $cl-white;
    border-color: $cl-sand;
  }
}
