/** @define MegaNav */

/* Topshop Style Category */

/* postcss-bem-linter: ignore */
.category_3452041 a:before,
.category_3452541 a:before,
.category_3452053 a:before,
.category_3452548 a:before,
.category_3452555 a:before,
.category_3452565 a:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  float: left;
  margin: 0 5px 0 0;
}

/* postcss-bem-linter: ignore */
.category_3452041 a:before {
  background: url('public/topshop/images/megamenu/magazine.svg') no-repeat;
}
/* postcss-bem-linter: ignore */
.category_3452541 a:before {
  background: url('public/topshop/images/megamenu/blog.svg') no-repeat;
}
/* postcss-bem-linter: ignore */
.category_3452053 a:before {
  background: url('public/topshop/images/megamenu/mytopshopwardrobe.svg') no-repeat;
}
/* postcss-bem-linter: ignore */
.category_3452548 a:before {
  background: url('public/topshop/images/megamenu/personalshopping.svg') no-repeat;
}
/* postcss-bem-linter: ignore */
.category_3452555 a:before {
  background: url('public/topshop/images/megamenu/topshopstyle.svg') no-repeat;
}
/* postcss-bem-linter: ignore */
.category_3452565 a:before {
  background: url('public/topshop/images/megamenu/lfw.svg') no-repeat;
}

/* postcss-bem-linter: ignore */
.category_3452041 .MegaNav-ItemContainer,
.category_3452541 .MegaNav-ItemContainer,
.category_3452053 .MegaNav-ItemContainer,
.category_3452548 .MegaNav-ItemContainer,
.category_3452555 .MegaNav-ItemContainer,
.category_3452565 .MegaNav-ItemContainer {
  line-height: 33px;
}
/* postcss-bem-linter: ignore */
.category_3452041,
.category_3452541,
.category_3452053,
.category_3452548,
.category_3452555,
.category_3452565 {
  margin-top: 2px;
  padding-left: 0;
}
