/** @define BurgerButton */

.BurgerButton {
    position: relative;
    display: block;
    width: $header-burger-button-width;
    height: $header-burger-button-height;
    top: calc((100% - $header-burger-button-height) / 2);

    &.is-arrow :nth-child(1),
    &.is-arrow :nth-child(3) {
      width: 50%;
      transform-origin: calc($header-burger-icon-bar-height / 2) center;
    }

    &.is-arrow :nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }

    &.is-arrow :nth-child(3) {
      bottom: 50%;
      transform: translateY(50%) rotate(45deg);
    }

  &-bar {
    position: absolute;
    display: block;
    width: 100%;
    height: $header-burger-icon-bar-height;
    background: $header-burger-color;
    transition: 0.5s ease-in;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%)
    }

    &:nth-child(3) {
      bottom: 0;
    }

  }
}