/** @define Main */
.Main {
  &-inner {
    margin: 0 auto;
    min-height: 600px;
    &--overlay {
      position: relative;
      overflow: hidden;
    }
  }
  &-body {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transform: none;
    &.is-right {
      transform: translateX(80%);
    }
    &.is-notScrollable, &.is-right, &.is-left {
      overflow: hidden;
      position: fixed;
    }
    &.is-left {
      transform: translateX(-80%);
    }
    &.is-modalOpen {
      overflow: hidden;
      position: fixed;
      transition: unset;
    }
    &.is-stickyHeader {
      & .Main-inner {
          margin-top: $header-big-sticky-margin-top;
      }
    }
  }
  &-hideWhenModalOpen {
    display: none;
  }
}

@media $min-tablet {
  .Main {
    &-body {
      &.is-left {
        transform: translateX(-$mini-bag-width-min-tablet);
      }
    }
  }
}

@media $min-tablet {
  .Main {
    overflow-x: hidden;
    position: relative;
    &-body {
      position: relative;
    }
  }
}

/* postcss-bem-linter: ignore */
.Main > .MontyVisualIndicator {
  position: relative;
  padding: 20px 0 25px;
  box-sizing: content-box;
  background-color: $footer-container-bg-color;
}
