/** @define GoogleMap */

.GoogleMap {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid $dk-gray;
  &-map {
    height: 100%;
    width: 100%;
  }
  &--borderless {
    border-bottom: none;
  }
}
