/** @define GiftCards; weak */
@lost flexbox flex;
@lost gutter 10px;

.GiftCards {
  &-accordion {
    border-top: 0; 
  }
  
  &-row {
    lost-flex-container: row;
    align-items: center;

    & .Input-pin {
      lost-column: 1/2;
      margin-top: -2px;
    }
    & .Button {
      lost-column: 1/2;
      max-height: 21px;
    }
  }

  &-newTotalLabel {
    lost-column: 1/2;
  }

  &-newTotalValue {
    lost-column: 1/2;
    lost-align: right;
    font-weight: bold;
  }
}
