/** @define WishlistButton; weak */

.WishlistButton {
  display: block;
  flex-shrink: 0;
  transition: $wishlist-transition-property $wishlist-transition-duration $wishlist-transition-timing;
  align-self: flex-start;
  &>div {
    display: flex;
    align-items: center;
  }
  &-icon {
    line-height: 0;
    border: $wishlist-button-border;
    border-radius: $wishlist-button-border-radius;
    background-color: $wishlist-button-background-color;
    padding: $wishlist-button-padding;
  }
  &--minibag &-icon {
    border: $wishlist-minibag-button-border;
    transition: $wishlist-transition-property $wishlist-transition-duration $wishlist-transition-timing;
    background-color: $wishlist-minibag-button-background-color;
    height: $wishlist-minibag-button-height;
    width: $wishlist-minibag-button-width;
    margin: $wishlist-minibag-button-icon-margin;
    padding: $wishlist-minibag-button-icon-padding;
  }
  &--quickview {
    margin: 0;
  }
  &--pdp &-icon,
  &--quickview &-icon,
  &--bundle &-icon {
    border: $wishlist-pdp-button-border;
    background-color: $wishlist-pdp-button-background-color;
    margin-left: 10px;
    height: $wishlist-pdp-button-height;
    width: $wishlist-pdp-button-width;
  }
  &--plp {
    position: absolute;
    right: $wishlist-plp-button-right-medium;
    top: $wishlist-plp-button-top-medium;
    z-index: 3;
    & .WishlistButton-icon {
      border: $wishlist-plp-button-border;
      background-color: $wishlist-plp-button-background-color;
      padding: $wishlist-plp-button-padding-medium;
    }
  }
}

/* postcss-bem-linter: ignore */ 
.no-touch .WishlistButton--plp:hover {
  transform: $wishlist-icon-transform;
}

/* postcss-bem-linter: ignore */ 
.no-touch .WishlistButton--plp:hover .WishListIcon {
  background-image: $wishlist-plp-icon-hover;
}

/* postcss-bem-linter: ignore */
.no-touch .WishlistButton--plp:hover .WishListIcon.is-selected {
  background-image: $wishlist-plp-icon-selected;
}

/* postcss-bem-linter: ignore */
.no-touch .WishlistButton--pdp:hover .WishListIcon,
.no-touch .WishlistButton--bundle:hover .WishListIcon,
.no-touch .WishlistButton--quickview:hover .WishListIcon,
.no-touch .WishlistButton--minibag:hover .WishlistButton-icon .WishListIcon {
  transform: $wishlist-icon-transform;
  background-image: $wishlist-icon-hover;
}

/* postcss-bem-linter: ignore */
.no-touch .WishlistButton--pdp:hover .WishListIcon.is-selected,
.no-touch .WishlistButton--bundle:hover .WishListIcon.is-selected,
.no-touch .WishlistButton--quickview:hover .WishListIcon.is-selected,
.no-touch .WishlistButton--minibag:hover .WishlistButton-icon .WishListIcon.is-selected {
  background-image: $wishlist-icon-selected;
}

/* postcss-bem-linter: ignore */
.Product--col3 .WishlistButton--plp &-icon {
  padding: $wishlist-plp-button-padding-small;
  right: $wishlist-plp-button-right-small;
  top: $wishlist-plp-button-top-small;
}

/* postcss-bem-linter: ignore */
.Product--col1 .WishlistButton--plp &-icon {
  padding: $wishlist-plp-button-padding-large;
  right: $wishlist-plp-button-right-large;
  top: $wishlist-plp-button-top-large;
}

@media $tablet {
  /* postcss-bem-linter: ignore */
  .Product--col2 .WishlistButton--plp &-icon {
    padding: $wishlist-plp-button-padding-large;
    right: $wishlist-plp-button-right-large;
    top: $wishlist-plp-button-top-large;
  }
  /* postcss-bem-linter: ignore */
  .Product--col3 .WishlistButton--plp &-icon {
    padding: $wishlist-plp-button-padding-medium;
    right: $wishlist-plp-button-right-medium;
    top: $wishlist-plp-button-top-medium;
  }
}

@media $min-laptop {
  /* postcss-bem-linter: ignore */
  .Product--col3 .WishlistButton--plp &-icon,
  .Product--col4 .WishlistButton--plp &-icon {
    padding: $wishlist-plp-button-padding-large;
    right: $wishlist-plp-button-right-large;
    top: $wishlist-plp-button-top-large;
  }
  /* postcss-bem-linter: ignore */
  .Product--col2 .WishlistButton--plp &-icon {
    padding: $wishlist-plp-button-padding-mega;
    right: $wishlist-plp-button-right-mega;
    top: $wishlist-plp-button-top-mega;
  }
}
