/** @define BuyNow */

.BuyNow {
  background: $cta-tertiary-background;
  color: $cta-tertiary-font-color;
  border: $cta-border-width solid $cta-tertiary-border-color;
  text-transform: $cta-tertiary-text-transform;

  &:active {
    color: $cta-tertiary-active-font-color;
    background-color: $cta-tertiary-active-background;
    border: $cta-border-width solid $cta-tertiary-active-border-color;
  }

  &[disabled] {
    color: $cta-tertiary-inactive-font-color;
    background-color: $cta-tertiary-inactive-background;
    border: $cta-border-width solid $cta-tertiary-inactive-border-color;
  }
}

@media $min-laptop {
  .BuyNow {
    &:enabled:hover {
      color: $cta-tertiary-hover-font-color;
      background-color: $cta-tertiary-hover-background;
      border: $cta-border-width solid $cta-tertiary-hover-border-color;
    }
  }
}
/* postcss-bem-linter: ignore */
.no-touch .BuyNow:enabled:hover {
  color: $cta-tertiary-hover-font-color;
  background-color: $cta-tertiary-hover-background;
  border: $cta-border-width solid $cta-tertiary-hover-border-color;
}
