/** @define PaymentOption */

.PaymentOption {
  margin-top: $input-margin-vertical;
  padding-bottom: $input-margin-vertical;
  border-bottom: 1px solid $checkout-divider-color;

  &-container {
    margin: $input-margin-vertical 0 0 ;
    align-items: center;
  }

  &-content {
    flex: 1;
  }

  &-label {
    font-size: 15px;
  }

  &-description {
    display: block;
    font-size: 13px;
    margin-top: 2px;
  }

  &-icons {
    display: flex;
    align-items: center;
  }

  &-icon {
    width: 55px;
    margin-left: 10px;
  }

  &-icon[src*="amex"] {
    width: auto;
    height: 35px;
  }
}
