/** @define MyCheckoutDetails */

.MyCheckoutDetails {
  &-message {
    padding: 0 10px;
  }

  &-address {
    border-bottom: $header-border-bottom;
    padding: 5px 10px;
    display: block;
  }

  &-payment {
    padding: 1em 16px 0 16px;
    display: flex;
  }

  &-preview {
    flex: 1;
    max-width: 450px;
  }

  &-addressItem {
    margin-bottom: 25px;
    max-width: 380px;
  }

  &-addressTitle {
    font-size: 1.6em;
    line-height: 1.6em;
    margin-bottom: 5px;
    font-weight: 500;
  }

  &-checkbox {
    margin-top: $checkout-elements-margin-top;
  }
}


@media $mobile {
  .MyCheckoutDetails {
    &-payment {
      flex-flow: column wrap;
    }
    
    &-addressItem {
      margin: 0 75px 25px 0;
    }
  }
}


@media $min-tablet {
  .MyCheckoutDetails {
    &-address {
      display: inline-flex;
      flex-flow: row wrap;
      width: 100%;
    }

    &-addressItem {
      margin: 0 75px 25px 0;
      flex-grow: 1;
      flex-basis: 0;
    }

    &-checkbox {
      max-width: 300px;
    }
  }
}

@media $min-laptop {
  .MyCheckoutDetails {
    &-checkbox {
      max-width: none;
    }
  }
}
