/** @define ProductImages */

.ProductImages {
  height: 0;
  padding-bottom: $plp-product-image-aspect-ratio;
  background-color: rgb(248, 248, 248);
  &-image {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: 1s opacity;
    &--showing {
      opacity: 1; 
    }
  }
}
