/** @define BrandLogo */

@lost flexbox flex;

.BrandLogo {
  height: 100%;
  &-img {
    height: 100%;
    width: $brand-logo-img-width;
    max-width: $brand-logo-img-max-width;
  }
}

@media $min-tablet {
  .BrandLogo {
    &-img {
       width: $brand-logo-img-width-tablet;
     }
    }
  }

@media $min-laptop {
  .BrandLogo {
    &-img {
      width: $brand-logo-img-width-laptop;
    }
  }
}
