/** @define HeaderWallis; weak */

.HeaderWallis {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-family: $font-family-header-responsive;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $laptop-end-width;
  position: relative;

  &-brand {
    margin: 0;
    position: relative;
  }

  &-brandLink {
    display: block;
    margin: 10px auto 0;
    position: relative;
    width: 80px;
    z-index: 2;
  }

  &-content {
    align-items: center;
    color: $font-color-base;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    height: 27px;
    margin: 10px auto;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-shipping {
    align-items: center;
    display: flex;
    flex: 1;
  }

  &-search {
    min-width: 125px;
    position: relative;
    width: 17%;
  }

  & .ShippingInfo {
    margin: 0 0 0 15px;
  }

  & .MegaNav {
    position: relative;
  }

  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    padding: 0 20px;
    background-color: $white;
    z-index: 2;

    & .HeaderWallis-wrapper {
      position: relative;
      width: 100%;
      max-width: $laptop-end-width;
      margin: 0 auto;
    }
  }
}

@media $min-laptop {
  .HeaderWallis {
    &-brandLink {
      width: 120px;
    }

    &-search {
      min-width: 125px;
      width: 13%;
    }
    
    & .ShippingInfo {
      margin: 0 0 0 20px;
    }
  }
}

@media $desktop {
  .HeaderWallis {
    &-search {
      min-width: 150px;
      width: 15%;
    }
  }
}
