/** @define Header; weak */

.Header {
  position: relative;
  width: 100%;
  height: $header-height;
  z-index: 2;
  background-color: $header-background;
  overflow: hidden;
  border-bottom: $header-border-bottom;
  &.is-checkoutBig {
    max-width: $laptop-end-width;
    border: none;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  &-container {
    top: 0;
    position: relative;
    z-index: 0;
    &.is-sticky {
      z-index: 3;
    }
    transition: z-index 0s linear 0.4s;
    &--searchOpen {
      transition: z-index 0s;
      z-index: 9;
    }
  }
  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }
  &-left {
    float: left;
    display: block;
    position: relative;
    height: 100%;
    padding: 0 $header-padding-horizontal;
  }
  &-right {
    float: right;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    & button {
      height: 100%;
      padding: 0 $header-padding-horizontal;
    }
  }
  &-center {
    position: absolute;
    top: 0;
    height: 100%;
    width: 44%;
    left: 28%;
    text-align: center;
    & button {
      height: 100%;
    }
  }
  &-brandLogo {
    position: relative;
    height: $header-logo-height;
  }
  &-burgerButtonContainer {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: $header-burger-button-padding-left;
  }
  &-secureIconContainer {
    margin-left: $page-padding;
    padding: $checkout-secure-payment-padding 0;
    box-sizing: border-box;
  }
  &-secureIcon {
    height: 100%;
  }
  &-shoppingCartBadgeIcon {
    position: absolute;
    background: $header-badge-icon-background;
    right: $header-badge-icon-right;
    top: $header-badge-icon-top;
    min-width: $header-badge-icon-min-width;
    width: $header-badge-icon-width;
    color: $header-badge-icon-font-color;
    text-align: center;
    border-radius: $header-badge-icon-border-radius;
    font-size: $header-badge-icon-font-size;
    line-height: $header-badge-icon-line-height;
    font-family: $header-badge-icon-font-family;
  }
  &-shoppingCartIconbutton {
    position: relative;
    margin-right: $header-cart-button-margin-right;
  }
  &-shoppingCartIcon {
    position: relative;
    height: $header-cart-icon-height;
    margin-top: $header-cart-icon-margin-top;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* bem-linter-ignore */
    &.is-empty+.Header-shoppingCartBadgeIcon {
      display: $header-badge-icon-empty-display;
    }
  }
  &-searchIcon {
    position: relative;
    height: $header-search-icon-height;
    margin-top: $header-search-icon-margin-top;
  }
  &-debug {
    padding: 2px 0;
  }
  &-debugIcon {
    height: 100%;
    border-radius: 50%;
  }
  &-continueShopping {
    width: auto;
    min-height: 0;
    max-height: 25px;
    margin-top: $checkout-continue-shopping-margin-top;
  }
}

@media $min-tablet {
  .Header {
    height: $header-height-min-tablet;

    &:not(.is-forceDisplay) {
      display: none; 
    }
    &.is-checkoutBig {
      display: block;
    }
    &-brandLogo {
      height: $header-logo-height-min-tablet;
    }
    &-secureIconContainer {
      padding: $checkout-secure-payment-padding-min-tablet 0;
    }
    &-continueShopping {
      margin-top: $checkout-continue-shopping-margin-top-min-tablet;
      margin-right: $checkout-continue-shopping-margin-right;
    }
  }
}

@media $min-laptop {
  .Header {
    &.is-checkoutBig {
      display: block;
      height: $header-height-min-laptop;
    }
    &-brandLogo {
      height: $header-logo-height-min-laptop;
    }
    &-secureIconContainer {
      padding: $checkout-secure-payment-padding-min-laptop 0;
    }
    &-continueShopping {
      margin-top: $checkout-continue-shopping-margin-top-min-laptop;
    }
  }
}
