/** @define HeaderMissSelfridge; weak */

.HeaderMissSelfridge {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  position: relative;

  &-brand {
    left: 0;
    height: 38px;
    margin: 0 auto;
    max-width: $laptop-end-width;
    padding: 0 20px;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-brandLink {
    display: block;
    margin: 3px auto;
    position: relative;
    width: 180px;
    z-index: 2;
  }

  & .BrandLogo-img {
    display: block;
    width: 100%;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 38px;
    margin: 0 auto;
    max-width: $laptop-end-width;
    padding: 0 10px;
    position: relative;
    width: 100%;
  }

  &-shippingInfo {
    flex: 1;
  }

  &-search {
    & .SearchBar--big {
      top: 0;

      & .SearchBar-icon {
        height: 100%;
        padding: 7px 0 9px 8px;
      }

      & .SearchBar-queryInput,
      & .SearchBar-queryInput:focus {
        width: 75px;
      }
    }
  }

  & .ShippingDestination {
    margin: 0 0 0 15px;
    min-width: auto;
  }

  &-separator {
    background-color: #cdcdcd;
    height: 1px;
    margin: 0;
    width: 100%;
  }

  &-navigation {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: $laptop-end-width;
    position: relative;
    width: 100%;
  }

  &.is-sticky {
    align-items: center;
    background-color: $header-background;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    & .HeaderMissSelfridge-search {
      & .SearchBar--big {

        & .SearchBar-icon {
          padding: 4px 0 4px 4px;
        }

        & .SearchBar-queryInput,
        & .SearchBar-queryInput:focus {
          width: 63px;
        }
      }
    }
    & .AccountIcon,
    & .ShippingDestination,
    & .WishlistHeaderLink,
    & .ShoppingCart {
      margin: 0 0 0 10px;
    }

    & .HeaderMissSelfridge-megaNav {
      margin: 0;
    }
    & .HeaderMissSelfridge-content {
      display: none;
    }
    & .HeaderMissSelfridge-brand {
      display: none;
    }
    & .HeaderMissSelfridge-navigation {
      background-color: $header-background;
      padding: 0 12px;
    }
  }
}

@media $min-laptop {
  .HeaderMissSelfridge {
    &-content {
      padding: 0 20px;
    }

    &-brand {
      height: 50px;
      right: 0;
      top: 38px;
    }

    &-brandLink {
      margin: 0;
      height: 100%;
      width: 170px;
    }

    &-search {
      width: 20%;

      & .SearchBar--big {
        & .SearchBar-queryInput,
        & .SearchBar-queryInput:focus {
          width: auto;
        }
      }
    }

    & .ShippingDestination {
      margin: 0 0 0 20px;
    }

    & .MegaNav {
      flex: 1;
      margin: 0 0 0 210px;
    }

    &.is-sticky {
      & .HeaderMissSelfridge-search {
        & .SearchBar--big {

          & .SearchBar-icon {
            padding: 4px 0 4px 8px;
          }

        }
      }
      & .AccountIcon,
      & .ShippingDestination,
      & .WishlistHeaderLink,
      & .ShoppingCart {
        margin: 0 0 0 20px;
      }
    }
  }
}
