/** @define ContentOverlay */
.ContentOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0.7;
  transition: opacity 0.4s;
  background-color: $black;
  display: block;
  overflow: hidden;

  &--modalOpen {
    z-index: 4;
  }

  &.is-hidden {
    opacity: 0;
    height: 0%;
    transition: opacity 0.4s, height 0s linear 0.4s;
  }
}
