<!DOCTYPE HTML>
<html lang={{{lang}}}>
  <head>
    <script type="text/javascript">if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{{{iePolyFill}}}"><\/script>');</script>
    <!-- Google Tag Manager -->
    <script>dataLayer=[];(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{{googleTagManagerId}}}');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1.0, width=device-width">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/{{brandName}}/images/apple-touch-icon.png?version={{logoVersion}}">
    <link rel="icon" href="/assets/{{brandName}}/images/favicon.ico">
    <link rel="manifest" href="/assets/{{brandName}}/images/manifest.json?version={{logoVersion}}">
    <link rel="mask-icon" href="/assets/{{brandName}}/images/safari-pinned-tab.svg" color="#000000">
    <meta name="theme-color" content="#ffffff">

    {{{title}}}
    {{{meta}}}
    {{{styles}}}
    {{{link}}}
    {{{nreum}}}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{{googleTagManagerId}}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root" class="nojs">{{{html}}}</div>
    <script>
      window.__INITIAL_STATE__={{{initialState}}};
      window.version={{{version}}};
      window.webpackManifest={{{webpackManifest}}};
      window.isRedAnt={{{isRedAnt}}};
    </script>
    {{{scripts}}}
  </body>
</html>
