/** @define LowStock */

.LowStock {
  background-color: #f65757;
  color: #ffffff;
  line-height: 44px;
  font-size: 24px;
}

@media $tablet {
  .LowStock {
    font-size: 11px;
  }
}

@media $min-tablet {
  /* postcss-bem-linter: ignore */
  @keyframes slidein {
    /* postcss-bem-linter: ignore */
    0% {
      transform: translate(20px);
      opacity: 0;
    }
    /* postcss-bem-linter: ignore */
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }

  .LowStock {
    animation-name: slidein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    /* Disable animation for IE11 */
    -ms-animation-name: none;
    right: 0;
    margin: 0;
    position: absolute;
    width: calc(100% - 140px);
    line-height: 30px;
    height: 30px;
    bottom: 27px;
    font-size: 12px;
    &::after {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: ' ';
      position: absolute;
      border-right-color: #f65757;
      border-width: 15px;
      margin-top: -15px;
    }
  }
}
