/** @define LowStock */

.LowStock {
  text-align: center;
  font-weight: normal;
  display: block;
  box-sizing: border-box;
  color: #f35f51;
  font-size: 14px;
  margin-bottom: 10px;
  flex: 1;
  margin-top: 10px;
}
