/** @define WishListIcon **/

@define-mixin pulseAnimation $speed: null, $duration: null {
  animation-name: $speed;
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes slow {
  /* postcss-bem-linter: ignore */
  0% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  20% {
    transform: scale(1.08);
  }
  /* postcss-bem-linter: ignore */
  40% {
    transform: scale(0.8);
  }
  /* postcss-bem-linter: ignore */
  60% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  70% {
    transform: scale(1.08);
  }
  /* postcss-bem-linter: ignore */
  80% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  100% {
    transform: scale(1);
  }
}

@keyframes fast {
  /* postcss-bem-linter: ignore */
  0% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  30% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  40% {
    transform: scale(1.08);
  }
  /* postcss-bem-linter: ignore */
  50% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  60% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  70% {
    transform: scale(1.05);
  }
  /* postcss-bem-linter: ignore */
  80% {
    transform: scale(1);
  }
  /* postcss-bem-linter: ignore */
  100% {
    transform: scale(1);
  }
}

.WishListIcon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: $wishlist-icon-minibag-background-position;
  transition: $wishlist-transition-property $wishlist-transition-duration $wishlist-transition-timing;
  background-size: 100% 100%;
  &.is-selected {
    @mixin pulseAnimation $wishlist-icon-animation-speed, $wishlist-icon-animation-duration;
  }

  &--minibag {
    background-image: $wishlist-icon;
    width: $wishlist-icon-minibag-width;
    height: $wishlist-icon-minibag-height;
    &.is-selected {
      background-image: $wishlist-icon-selected;
    }
  }

  &--plp {
    background-image: $wishlist-plp-icon;
    width: $wishlist-plp-icon-width-medium;
    height: $wishlist-plp-icon-height-medium;
     &.is-selected {
      background-image: $wishlist-plp-icon-selected;
    }
  }

  &--pdp, &--bundle, &--quickview {
    background-image: $wishlist-icon;
    width: $wishlist-icon-width;
    height: $wishlist-icon-height;
    &.is-selected {
      background-image: $wishlist-icon-selected;
    }
  }
}

/* postcss-bem-linter: ignore */
.Product--col3 .WishListIcon--plp {
  width: $wishlist-plp-icon-width-small;
  height: $wishlist-plp-icon-height-small;
}

/* postcss-bem-linter: ignore */
.Product--col1 .WishListIcon--plp {
  width: $wishlist-plp-icon-width-large;
  height: $wishlist-plp-icon-height-large;
}

@media $tablet {
  /* postcss-bem-linter: ignore */
  .Product--col2 .WishListIcon--plp {
    width: $wishlist-plp-icon-width-large;
    height: $wishlist-plp-icon-height-large;
  }

  /* postcss-bem-linter: ignore */
  .Product--col3 .WishListIcon--plp {
    width: $wishlist-plp-icon-width-medium;
    height: $wishlist-plp-icon-height-medium;
  }
}

@media $min-laptop {
  /* postcss-bem-linter: ignore */
  .Product--col3 .WishListIcon--plp, .Product--col4 .WishListIcon--plp {
    width: $wishlist-plp-icon-width-large;
    height: $wishlist-plp-icon-height-large;
  }

  /* postcss-bem-linter: ignore */
  .Product--col2 .WishListIcon--plp {
    width: $wishlist-plp-icon-width-mega;
    height: $wishlist-plp-icon-height-mega;
  }
}
