/** @define AddressPreviewV1 */

.AddressPreviewV1 {
  position: relative;
  margin-top: 16px;
  padding-left: 50px;
  background: url('public/$brand/images/checkout-home.svg') 0 0/40px auto no-repeat;
  box-sizing: content-box;
  
  @media $min-laptop {
    padding-right: 100px;
    max-width: 150px;
  }

  &-header {
    margin: 0;
    font-family: Interstate, sans-serif;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: normal;
  }

  &-detailsTerm {
    /* NOTE: visually hidden, if used elsewhere should be moved into utility class */
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
  }

  &-detailsDescription {
    margin: 0;
  }

  &-button {
    width: auto;
    margin-top: 10px;
  }
}
